.mobile-menu.dark 
  .mobile-menu__inner-container
    .mobile-menu__inner.container

      button.close-menu
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.23652 0.368171L7.5 5.63165L12.7362 0.395443C12.8519 0.272334 12.9912 0.173851 13.1458 0.1059C13.3005 0.0379486 13.4673 0.00192859 13.6362 0C13.9978 0 14.3447 0.143664 14.6004 0.399388C14.8561 0.655112 14.9998 1.00195 14.9998 1.3636C15.003 1.53078 14.9719 1.69684 14.9086 1.8516C14.8453 2.00636 14.751 2.14655 14.6316 2.26357L9.32722 7.49978L14.6316 12.8042C14.8563 13.024 14.9881 13.3218 14.9998 13.636C14.9998 13.9976 14.8561 14.3444 14.6004 14.6002C14.3447 14.8559 13.9978 14.9996 13.6362 14.9996C13.4624 15.0068 13.289 14.9778 13.127 14.9144C12.9651 14.851 12.818 14.7546 12.6953 14.6314L7.5 9.3679L2.25016 14.6177C2.13494 14.7368 1.9973 14.8318 1.84517 14.8973C1.69304 14.9628 1.52945 14.9976 1.36382 14.9996C1.00217 14.9996 0.655334 14.8559 0.39961 14.6002C0.143886 14.3444 0.000221866 13.9976 0.000221866 13.636C-0.00295735 13.4688 0.0280602 13.3027 0.0913714 13.148C0.154682 12.9932 0.248951 12.853 0.368393 12.736L5.67278 7.49978L0.368393 2.19539C0.143652 1.97552 0.0118665 1.67778 0.000221866 1.3636C0.000221866 1.00195 0.143886 0.655112 0.39961 0.399388C0.655334 0.143664 1.00217 0 1.36382 0C1.69108 0.00409079 2.00471 0.13636 2.23652 0.368171Z" fill="#fff"/>
        </svg> 

      .col.col-contacts
        a(href="/" ).logo 
          img(src="img/svg/logo.svg" width="139" height="27" , alt="Отис логотип") 

        
      .col.main-cats
        ul.menu-list
          li 
            a(href="#").fat  Для квартир 
          li 
            a(href="#").fat Для домов 
          li 
            a(href="#").fat Для бизнеса
          li 
            a(href="#").fat Оплата

      .col.another-cats
        .menu-list__head 
          a(href="#").fat  Компания

          button.menu-list__collapse 
            <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.25446 9V1M5.25446 1L9.25446 5M5.25446 1L1.25446 5" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        ul.menu-list
          li 
            a(href="#") О компании
          li 
            a(href="#")  История
          li 
            a(href="#")  Лицензии и Сертификаты
          li 
            a(href="#")  Вакансии
          li 
            a(href="#")  Новости
          li 
            a(href="#")  Отзывы клиентов
          li 
            a(href="#")  Контакты


      .col.another-cats
        .menu-list__head 
          a(href="#").fat  Клиентам

          button.menu-list__collapse 
            <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.25446 9V1M5.25446 1L9.25446 5M5.25446 1L1.25446 5" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        ul.menu-list
          li 
            a(href="#") Как работает система
          li 
            a(href="#")  Служба контроля качества
          li 
            a(href="#")  Приложение ОТИС личный кабинет
          li 
            a(href="#")  Инструкции пользователя
          li 
            a(href="#")  Справочник абонента
          li 
            a(href="#")  Памятка по оплате
          li 
            a(href="#")  Вопросы и ответы
          li 
            a(href="#")  Статьи
          li 
            a(href="#")  Договор публичной оферты

      .col.another-cats 
        .menu-list__head 
          a(href="#").fat  Другое

          button.menu-list__collapse 
            <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.25446 9V1M5.25446 1L9.25446 5M5.25446 1L1.25446 5" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
            
        ul.menu-list
          li 
            a(href="#") Aкции
          li 
            a(href="#")  Партнерам
          li 
            a(href="#")  Оборудование
          li 
            a(href="#")  Трудовые догворы
                

      .col.col-contacts.col-mob

        .menu-geo-row
          button(type="button" aria-label="Выбрать город").select-geo-btn
            | Алматинская обл 
            <svg width="7" height="6" viewBox="0 0 7 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1.59619L3.5 4.09619L6 1.59619" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 


          .lang-checkboxes 
            label(for="ru").txt-check
              input(type="radio" id="ru" name="lng")
              span RU  

            label(for="kz").txt-check
              input(type="radio" id="kz" name="lng" checked)  
              span KZ 

        a.tel(href="tel: +7 (727) 2 58 11 55" aria-label="Позвонить по телефону")
          .ic
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
              <path d="M12.3589 9.88786V11.7521C12.3596 11.9252 12.3241 12.0965 12.2548 12.2551C12.1855 12.4136 12.0838 12.556 11.9562 12.673C11.8287 12.79 11.6782 12.8791 11.5142 12.9345C11.3503 12.9899 11.1765 13.0105 11.0042 12.995C9.09196 12.7872 7.25515 12.1338 5.64132 11.0872C4.13986 10.1331 2.86689 8.86014 1.9128 7.35868C0.86259 5.73752 0.209021 3.89177 0.00504388 1.97097C-0.0104851 1.79912 0.00993751 1.62593 0.0650111 1.46241C0.120085 1.29889 0.208603 1.14863 0.32493 1.0212C0.441256 0.893768 0.582843 0.791952 0.740675 0.722237C0.898507 0.652521 1.06913 0.616434 1.24167 0.616271H3.10593C3.40751 0.613303 3.69988 0.720097 3.92854 0.916748C4.1572 1.1134 4.30656 1.38649 4.34877 1.68511C4.42745 2.28172 4.57338 2.86751 4.78376 3.4313C4.86737 3.65372 4.88547 3.89545 4.8359 4.12784C4.78634 4.36023 4.6712 4.57354 4.50412 4.7425L3.71492 5.5317C4.59955 7.08746 5.88769 8.3756 7.44344 9.26022L8.23264 8.47102C8.4016 8.30394 8.61491 8.1888 8.8473 8.13924C9.07969 8.08968 9.32142 8.10777 9.54384 8.19138C10.1076 8.40176 10.6934 8.54769 11.29 8.62637C11.5919 8.66896 11.8676 8.82101 12.0646 9.0536C12.2617 9.28619 12.3664 9.5831 12.3589 9.88786Z" fill="#FE8000"/>
            </svg>
          span +7 (727) 2 58 11 55    
            button(type="button" data-trigger-modal="callback").btn Заказать звонок   

        a.mail(href="mailto: sales@otis.kz")
          .ic
            img(src="img/svg/mail.svg", alt="#" width="19" height="16")
          span sales@otis.kz

        ul.socials
          li 
            a(href="#" aria-label="Instagram" title='Instagram').soc
              img(src="img/svg/inst.svg", alt="Instagram icon" width="16" height="15")
          li 
            a(href="#" aria-label="VK" title='VK').soc
              img(src="img/svg/vk.svg", alt="VK icon" width="17" height="11")
          li 
            a(href="#" aria-label="Viber" title='Viber').soc
              img(src="img/svg/viber.svg", alt="Viber icon" width="16" height="16")
          li 
            a(href="#" aria-label="Facebook" title='Facebook').soc
              img(src="img/svg/fb.svg", alt="Facebook icon" width="9" height="16")

          li 
            a(href="#" aria-label="Twitter" title='Twitter').soc
              img(src="img/svg/tw.svg", alt="Twitter icon" width="16" height="13")              

        .apps 
          a(href="#" aria-label="AppStore")
            img(src="img/appstore.webp", alt="#" width="129" height="38") 

          a(href="#" aria-label="GooglePlay")
            img(src="img/googleplay.webp", alt="#" width="129" height="38")  


.geo-select.menu-module.dark
  .geo-select__inner-container
    .geo-select__inner.container
      button.menu-back
        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.53857 5.26929H1M1 5.26929L5.26929 1M1 5.26929L5.26929 9.53857" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> 
        | Назад в меню

      p Выберите город для верного отображения номера телефона


      ul.s-geo-list
        li 
          label(for="g1").txt-check
              input(type="radio" id="g1" name="geo-item")
              span   Алматы
        li 
          label(for="g2").txt-check
              input(type="radio" id="g2" name="geo-item")
              span  Астана
        li 
          label(for="g3").txt-check
              input(type="radio" id="g3" name="geo-item")
              span  Усть-Каменогорск
        li 
          label(for="g4").txt-check
              input(type="radio" id="g4" name="geo-item")
              span  Шымкент
        li 
          label(for="g5").txt-check
              input(type="radio" id="g5" name="geo-item")
              span  Тараз
        li 
          label(for="g6").txt-check
              input(type="radio" id="g6" name="geo-item")
              span  Актобе
        li 
          label(for="g7").txt-check
              input(type="radio" id="g7" name="geo-item")
              span  Караганда
        li 
          label(for="g8").txt-check
              input(type="radio" id="g8" name="geo-item")
              span  Костанай
        li 
          label(for="g9").txt-check
              input(type="radio" id="g9" name="geo-item")
              span  Павлодар
        li 
          label(for="g10").txt-check
              input(type="radio" id="g10" name="geo-item")
              span  Актау
        li 
          label(for="g11").txt-check
              input(type="radio" id="g11" name="geo-item")
              span  Атырау
        li 
          label(for="g12").txt-check
              input(type="radio" id="g12" name="geo-item")
              span  Уральск
        li 
          label(for="g13").txt-check
              input(type="radio" id="g13" name="geo-item" checked)
              span  Алматинская область
        li 
          label(for="g14").txt-check
              input(type="radio" id="g14" name="geo-item")
              span  Семей
        li 
          label(for="g15").txt-check
              input(type="radio" id="g15" name="geo-item")
              span  Кызылорда
        li 
          label(for="g16").txt-check
              input(type="radio" id="g16" name="geo-item")
              span  Кокшетау
        li 
          label(for="g17").txt-check
              input(type="radio" id="g17" name="geo-item")
              span  Талдыкорган
        li 
          label(for="g18").txt-check
              input(type="radio" id="g18" name="geo-item")
              span  Петропавловск