include ../../shares-hero-section/shares-hero-section

.shares-list-container.container
  ul.shares-list
    li.share 
      .share__img
        img(src="img/shares/1.webp", alt="#" width="365" height="200")

      .share__text
        h2.h3.share__text-title Акция «Коттедж»
        p Для частных домов физических лиц. Абонентская плата - 10000 тг. в месяц.

    li.share 
      .share__img
        img(src="img/shares/2.webp", alt="#" width="365" height="200")

      .share__text
        h2.h3.share__text-title Акция "Бизнес Плюс"
        p Монтаж охранной сигнализации для малого и среднего бизнеса (юридических лиц) с абонентской платой от 14 000 тг. в месяц 

    li.share 
      .share__img
        img(src="img/shares/3.webp", alt="#" width="365" height="200")

      .share__text
        h2.h3.share__text-title Акция "Квартирный AJAX"
        p Монтаж сигнализации для 1-, 2-, 3- ,4-, 5-комнатных жилых квартир физических лиц от 120 000 тг. Абонентская плата - 7500 тг. в месяц.

    li.share 
      .share__img
        img(src="img/shares/4.webp", alt="#" width="365" height="200")

      .share__text
        h2.h3.share__text-title Акция «Квартирный STEMAX»
        p Для квартир физических лиц. Абонентская плата - 7500 тг. в месяц.

    li.share 
      .share__img
        img(src="img/shares/5.webp", alt="#" width="365" height="200")

      .share__text
        h2.h3.share__text-title Акция "Приведи клиента"
        p Для физических лиц. Приведи друга и получи 1 месяц абонентского обслуживания бесплатно!    