.check-wrap {
  display: flex;
  gap: 20px;

  &.disabled {
    
    .check, label {
      pointer-events: none;
    }
    
    .check__mask {
      background: #D9D9D9; 

      svg {
        opacity: 1;
      }

      svg path {
        stroke: #A0A0A0;
      }
    }
  }

  &.pointer-none {
    .check, label {
      pointer-events: none;
    }
  }
}

.check {
  width: 25px;
  min-width: 25px;
  height: 25px; 
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    &:checked ~ .check__mask {
      background-color: var(--accent);
      svg {
        opacity: 1;
      }
    }

    &:hover ~ .check__mask {
      background-color: var(--accent);
    }
  }

  &__mask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(254, 128, 0, 0.36); 
    transition: all .3s ease;

    svg {
      opacity: 0;
    }
  }
}

.check-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1px;
  position: relative;

  label {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;

    strong {
      font-weight: 700;
    }
  }
}