include ../../../components/filled-btn/filled-btn

.payment-container
  .payment-methods 
    .payment-method 
      .payment-method__head 
        h2.payment-method__title Онлайн платежи
        +filled-btn('accent accent-shadow', 'button')
          | Перейти к оплате

      .payment-methods__row 
        a(href="#" aria-label="Apple pay").payment
          img(src="img/payments/pay.webp", alt="#" width="72" height="61")   
        a(href="#" aria-label="Google pay").payment
          img(src="img/payments/gpay.webp", alt="#" width="77" height="47")
        a(href="#" aria-label="Samsung pay").payment
          img(src="img/payments/spay.webp", alt="#" width="79" height="56")
        a(href="#" aria-label="Mastercard").payment
          img(src="img/payments/mc.webp", alt="#" width="64" height="49")
        a(href="#" aria-label="Visa").payment
          img(src="img/payments/visa.webp", alt="#" width="57" height="57")        

    .payment-method 
      .payment-method__head 
        h2.payment-method__title Оплата в Kaspi.kz
        +filled-btn('accent accent-shadow', 'button')
          | Перейти к оплате    

      .qr 
        img(src="img/payments/qr2.webp", alt="#" width="167.27" height="261.97")      

  .payment-faq 
    ul.faq-list 
      li.faq-list__item 
        .faq-list__item-head
          | Оплата без комиссий в офисе компании ОТИС

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
        
        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.

      li.faq-list__item 
        .faq-list__item-head
          | Оплата через расчетно-кассовые отделения банков

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.

      li.faq-list__item 
        .faq-list__item-head
          | Оплата через системы интернет-банкинга

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.

      li.faq-list__item 
        .faq-list__item-head
          | Оплата через платежные терминалы

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.

      li.faq-list__item 
        .faq-list__item-head
          | Оплата через системы электронных денег

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.