.container.sertificate-container
  .sertificates.dark 
    .sertificates__main 
      h2.h3.sertificates__main-title ОТИС получила 5 наград <span>лидера отрасли</span>

      ul.sertificates__main-list
        li 
          img.bg(src="img/sertificates/shinebg.webp", alt="" width="457" height="433")
          .i
            img(src="img/sertificates/sm1.webp",  alt="#" width="215" height="215" )
          span 2020
        li
          img.bg(src="img/sertificates/shinebg.webp", alt="" width="457" height="433")
          .i
            img(src="img/sertificates/sm2.webp", alt="#" width="215" height="215")
          span 2018
        li
          img.bg(src="img/sertificates/shinebg.webp", alt="" width="457" height="433")
          .i
            img(src="img/sertificates/sm3.webp", alt="#" width="156" height="215")
          span 2017
        li
          img.bg(src="img/sertificates/shinebg.webp", alt="" width="457" height="433")
          .i
            img(src="img/sertificates/sm4.webp", alt="#" width="156" height="215")
          span 2016
        li
          img.bg(src="img/sertificates/shinebg.webp", alt="" width="457" height="433")
          .i
            img(src="img/sertificates/sm5.webp", alt="#" width="156" height="215")
          span 2014  


    .sertificates__secondary
      h2.h3.sertificates__secondary-title Другие сертификаты

      .sertificates__secondary-list-container.swiper
        ul.sertificates__secondary-list.swiper-wrapper
          li.swiper-slide 
            img(src="img/sertificates/s1.webp", alt="#" width="149" height="97")
          li.swiper-slide  
            img(src="img/sertificates/s2.webp", alt="#" width="149" height="97")
          li.swiper-slide  
            img(src="img/sertificates/s3.webp", alt="#" width="149" height="97")
          li.swiper-slide  
            img(src="img/sertificates/s4.webp", alt="#" width="107" height="151")      