include ../../../components/txt-link/txt-link

section.geo-section.dark 
  .container 
    .geo-section__content
      .geo-section__title-container 
        h3.geo-section__title 6 офисов<br> и 18 представителей по всей стране <br>для вашей безопасности
        p Мы рядом с вами, чтобы оперативно реагировать и обеспечивать максимальный уровень защиты. Независимо от того, где вы находитесь в Казахстане, ОТИС всегда рядом, чтобы защитить вас.

        +txt-link('#', 'btn')
          | Связаться с нами

      .geo-section__map 
        img(src="img/map-layer.webp", alt="#")

        <svg width="834" height="352" viewBox="0 0 834 352" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="96" cy="153" r="5" fill="#FE8000"    data-aos-delay="50"    />
          <circle cx="257" cy="257" r="5" fill="#FE8000"   data-aos-delay="100"    />
          <circle cx="444" cy="10" r="5" fill="#FE8000"   data-aos-delay="50"    />
          <circle cx="829" cy="153" r="5" fill="#FE8000"   data-aos-delay="200"    />
          <circle cx="704.5" cy="327.953" r="5" fill="#FE8000"   data-aos-delay="300"    />
          <circle cx="626" cy="124" r="5" fill="#FE8000"   data-aos-delay="100"    />
          <circle cx="477" cy="302" r="5" fill="#FE8000"   data-aos-delay="400"    />
          <circle cx="409.649" cy="135" r="5" fill="#FE8000"   data-aos-delay="500"    />
          <circle cx="47" cy="337.953" r="5" fill="#FE8000"   data-aos-delay="500"    />
          <circle cx="5.79785" cy="130" r="5" fill="#FE8000"   data-aos-delay="400"    />
          <circle cx="282" cy="302" r="5" fill="#FE8000"   data-aos-delay="300"    />
          <circle cx="534.5" cy="197.395" r="5" fill="#FE8000"   data-aos-delay="100"    />
          <circle cx="340" cy="153" r="20" fill="#FE8000" fill-opacity="0.38"   data-aos-delay="1000"    />
          <circle cx="340" cy="153" r="5" fill="#FE8000"   data-aos-delay="700"    />
          <circle cx="682" cy="227" r="20" fill="#FE8000" fill-opacity="0.38"   data-aos-delay="1200"    />
          <circle cx="682" cy="227" r="5" fill="#FE8000"  data-aos-delay="500"    />
          <circle cx="382" cy="192.395" r="20" fill="#FE8000" fill-opacity="0.38"   data-aos-delay="1300"    />
          <circle cx="382" cy="192.395" r="5" fill="#FE8000"   data-aos-delay="800"    />
          <circle cx="102" cy="242" r="20" fill="#FE8000" fill-opacity="0.38"   data-aos-delay="1400"    />
          <circle cx="102" cy="242" r="5" fill="#FE8000"   data-aos-delay="900"    />
          <circle cx="392" cy="20" r="20" fill="#FE8000" fill-opacity="0.38"   data-aos-delay="1100"    />
          <circle cx="392" cy="20" r="5" fill="#FE8000"   data-aos-delay="300"    />
          <circle cx="542" cy="332" r="20" fill="#FE8000" fill-opacity="0.38"   data-aos-delay="1200"    />
          <circle cx="542" cy="332" r="5" fill="#FE8000"   data-aos-delay="500"    />
        </svg>