include ../../../components/filled-btn/filled-btn

.news-container.container 
  ul.latest-news__grid
    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Изменение стоимости абонентской платы для юридических лиц с 1 февраля 2023 г.

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Теперь вы можете оформить Kaspi Red или Kaspi Kredit! 

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Режим работы офисов ОТИС в новогодние праздники, с 25 декабря по 7 января

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>


    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Теперь вы можете оформить Kaspi Red или Kaspi Kredit! 

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    li
        a(href="#" style="background-image: url(img/news/news5.webp)").news-tile
          h5.news-tile__title Изменение стоимости абонентской платы для юридических лиц с 1 февраля 2023 г.

          .news-tile__footer 
            span 29 марта 2023

            .arr 
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>       


    li
        a(href="#" style="background-image: url(img/news.webp)").news-tile
          h5.news-tile__title Режим работы офисов ОТИС в новогодние праздники, с 25 декабря по 7 января 

          .news-tile__footer 
            span 29 марта 2023

            .arr 
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

    li
      a(href="#" style="background-image: url(img/news/news7.webp)").news-tile
        h5.news-tile__title ОТИС - Лидер отрасли 2020 по итогам экономического рейтинга 

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Изменение тарифов на абонентское обслуживание

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>


    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Изменение стоимости абонентской платы для юридических лиц с 1 февраля 2023 г.

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Теперь вы можете оформить Kaspi Red или Kaspi Kredit! 

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Режим работы офисов ОТИС в новогодние праздники, с 25 декабря по 7 января

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>


    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Теперь вы можете оформить Kaspi Red или Kaspi Kredit! 

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>


    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Изменение стоимости абонентской платы для юридических лиц с 1 февраля 2023 г.

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>       


    li
        a(href="#" style="background-image: url(img/news/news14.webp)").news-tile
          h5.news-tile__title Теперь вы можете оформить Kaspi Red или Kaspi Kredit! 

          .news-tile__footer 
            span 29 марта 2023

            .arr 
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

    li
      a(href="#" style="background-image: url(img/news/news15.webp)").news-tile
        h5.news-tile__title Режим работы офисов ОТИС в новогодние праздники, с 25 декабря по 7 января 

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    li
      a(href="#" style="background-image: url(img/news.webp)").news-tile
        h5.news-tile__title Изменение тарифов на абонентское обслуживание

        .news-tile__footer 
          span 29 марта 2023

          .arr 
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>      

  +filled-btn('accent accent-shadow btn', 'button')
    | Показать больше новостей