.txt-btn {
  font-family: Russo One;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: var(--accent);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
