.n-select {
  background: none;
  padding: 12px 32px 12px 18px;
  border: none;
  height: auto;
  line-height: 100%;
  max-width: 188px;
}

.n-select .nice-select-dropdown {
  border-radius: 20px;
  background: #2e2e2f;
  padding: 17px 29px 23px;
  max-width: 225px;
  margin-top: 0;
  left: 11px;
}

.n-select .list {
  width: 100%;
  padding: 0;
  max-height: 421px;
}

.n-select .option {
  padding: 0;
  line-height: 20px;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background: none;
}

.nice-select .option.selected,
.nice-select .option:hover {
  color: var(--accent);
  font-weight: normal;
}

.n-select .current {
  overflow: hidden;
  max-width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nice-select:after {
  right: 17px;
  top: 50%;
  width: 7px;
  height: 7px;
  margin-top: -5px;
}

.dark .nice-select:after {
  border-color: #fff;
}

.light .nice-select:after {
  border-color: #000;
}


.n-select--brd {
  padding: 12px 52px 14px 18px;
  border-radius: 20px;
  border: 1px solid var(--accent); 
  color: var(--accent);
  font-weight: 700; 

  &:after {
    border-color: var(--accent) !important;
  }

  .list {
    color: #fff;
  }
}