[data-trigger-modal] {
  cursor: pointer;
}

.popup {
  --pt: 15vh;
  --pb: 15px;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(100 * var(--vh, 1vh));
  min-height: calc(100 * var(--vh, 1vh));
  z-index: 100;
  background: rgba(46, 46, 47, 0.90);
  padding-top: var(--pt);
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0;
  transition: all .3s ease;
  visibility: hidden;

  &__inner {
    position: relative;
    max-width: 1242px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    max-height: calc(100vh - var(--pt) - var(--pb));
    border-radius: 30px;
    transform: translateY(100px);
    transition: all 0 ease-in-out;

    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
      transform: translateX(-10px);
      background-color: none;
    }

    &::-webkit-scrollbar-track {
      background-color: none;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: rgba(46, 46, 47, 0.8);
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    .popup__inner {
      transform: translateY(0);
      transition: all .7s ease-in-out;
    }
  }
}

.close-popup {
  position: absolute;
  width: 15px;
  height: 15.001px; 
  padding: 0;
  margin: 0;
  top: 36px;
  right: 36px;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    svg path {
      fill: var(--accent) !important;
    }
  }

  &:active {
    svg path {
      fill: #cb6600 !important;
    }
  }

  &:disabled {
    svg path {
      fill: #cb6600 !important;
    }
  }
}


@media (max-width: 768px) {
  .popup__inner {
    height: calc(100 * var(--vh, 1vh));
    min-height: calc(100 * var(--vh, 1vh));
    border-radius: 0;
  }

  .popup {
    padding: 0;
  }

  .close-popup {
    top: 16px;
    right: 14px;
  }

  .popup {
    align-items: flex-start;
    background: none;
  }
}