include ../../components/nice-select/nice-select
include ../../components/brd-btn/brd-btn


include ../header-mob/header-mob

header.main-header.dark.main-header-d
  .container 
    
    a(href="/" ).logo 
      img(src="img/svg/logo.svg" width="139" height="27" , alt="Отис логотип") 

    nav.main-navigation 
      ul 
        li.has-childs 
          a(href="/company.html") Компания 
          button(type="button" aria-label="dropdown button").menu-dropdown

          .list
            ul 
              li           
                a(href="/for-apartments.html") Для квартир 
              li        
                a(href="/for-houses.html") Для домов 
              li        
                a(href="/for-businesses.html") Для бизнеса  

        li           
          a(href="/for-apartments.html") Для квартир 
        li        
          a(href="/for-houses.html") Для домов 
        li        
          a(href="/for-businesses.html") Для бизнеса   
        li.has-childs       
          a(href="/for-clients.html") Клиентам 
          button(type="button" aria-label="dropdown button").menu-dropdown
          .list
            ul 
              li           
                a(href="/apartments-security.html") Для квартир 
              li        
                a(href="/for-houses.html") Для домов 
              li        
                a(href="/for-businesses.html") Для бизнеса  
              li           
                a(href="/for-apartments.html") Для квартир 
              li        
                a(href="/for-houses.html") Для домов 
              li        
                a(href="/for-businesses.html") Для бизнеса    


        li           
          a(href="/payment.html") Оплата

      .has-childs.menu-more 
        button(type="button" aria-label="uncollapse").main-navigation__dots 
          <svg width="3" height="4" viewBox="0 0 3 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1.5" cy="2" r="1.5" fill="#FE8000"/>
          </svg> 
          <svg width="3" height="4" viewBox="0 0 3 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1.5" cy="2" r="1.5" fill="#FE8000"/>
          </svg> 
          <svg width="3" height="4" viewBox="0 0 3 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1.5" cy="2" r="1.5" fill="#FE8000"/>
          </svg> 

        .list
          ul 
            li           
              a(href="#") Доп 1
            li        
              a(href="#") Доп 2
            li        
              a(href="#") Доп 3  


    .main-header__actions 

      .tel-action-wrapper 
        button.tel-action.js-tel-action(type="button" aria-label="Посмотреть телефон")
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
            <path d="M12.3589 9.88786V11.7521C12.3596 11.9252 12.3241 12.0965 12.2548 12.2551C12.1855 12.4136 12.0838 12.556 11.9562 12.673C11.8287 12.79 11.6782 12.8791 11.5142 12.9345C11.3503 12.9899 11.1765 13.0105 11.0042 12.995C9.09196 12.7872 7.25515 12.1338 5.64132 11.0872C4.13986 10.1331 2.86689 8.86014 1.9128 7.35868C0.86259 5.73752 0.209021 3.89177 0.00504388 1.97097C-0.0104851 1.79912 0.00993751 1.62593 0.0650111 1.46241C0.120085 1.29889 0.208603 1.14863 0.32493 1.0212C0.441256 0.893768 0.582843 0.791952 0.740675 0.722237C0.898507 0.652521 1.06913 0.616434 1.24167 0.616271H3.10593C3.40751 0.613303 3.69988 0.720097 3.92854 0.916748C4.1572 1.1134 4.30656 1.38649 4.34877 1.68511C4.42745 2.28172 4.57338 2.86751 4.78376 3.4313C4.86737 3.65372 4.88547 3.89545 4.8359 4.12784C4.78634 4.36023 4.6712 4.57354 4.50412 4.7425L3.71492 5.5317C4.59955 7.08746 5.88769 8.3756 7.44344 9.26022L8.23264 8.47102C8.4016 8.30394 8.61491 8.1888 8.8473 8.13924C9.07969 8.08968 9.32142 8.10777 9.54384 8.19138C10.1076 8.40176 10.6934 8.54769 11.29 8.62637C11.5919 8.66896 11.8676 8.82101 12.0646 9.0536C12.2617 9.28619 12.3664 9.5831 12.3589 9.88786Z" fill="#FE8000"/>
          </svg>


        .tel-action-drop 
          span Телефон в Алматы
          a(href="tel: +7 (727) 2 58 11 55") +7 (727) 2 58 11 55

          .tel-action-drop__footer 
            button(type="button").js-change-city Изменить город 

      include ../../components/tel/tel  

      +nice-select('geo-city')
        option(value="Алматы") Алматы
        option(value="Астана") Астана
        option(value="Усть-Каменогорск") Усть-Каменогорск
        option(value="Шымкент") Шымкент
        option(value="Тараз") Тараз
        option(value="Актобе") Актобе
        option(value="Караганда") Караганда
        option(value="Костанай") Костанай
        option(value="Павлодар") Павлодар
        option(value="Актау") Актау
        option(value="Атырау") Атырау
        option(value="Уральск") Уральск
        option(value="Алматинская область") Алматинская область
        option(value="Семей") Семей
        option(value="Кызылорда") Кызылорда
        option(value="Кокшетау") Кокшетау
        option(value="Талдыкорган") Талдыкорган
        option(value="Петропавловск ") Петропавловск 

      +brd-btn 
        | Заказать звонок

      +nice-select('lang', 'lang-switcher value-placeholder')
        option(value="RU") Русский
        option(value="KAZ") Kазақ

      button.burger-menu(type="button" aria-label="Открыть меню")