section.spheres-section 
  .container
    .spheres-cards__container
      h3.spheres-cards__container-title Основные направления деятельности

      .spheres-cards
        a(href="#").spheres-card
          strong Монтаж охранной, тревожной, пожарной сигнализации с подключением на централизованный пункт наблюдения

          img(src="img/sphere1.webp", alt="#" width="441" height="283").spheres-card__img

          <img class="spheres-card__ic" src="img/svg/dots.svg" alt="#" width="25" height="25">


        a(href="#").spheres-card
          strong Предоставление услуг по мониторингу объектов и жилых помещений (коттеджей, квартир) с реагированием вооруженными подразделениями «КУЗЕТ»

          img(src="img/sphere2.webp", alt="#" width="521" height="409").spheres-card__img

          <img class="spheres-card__ic" src="img/svg/camera.svg" alt="#" width="25" height="16">


      .includes-cards__container
        h3.includes-cards__container-title В сферу деятельности компании также входит проектирование, установка и последующее обслуживание интегрированных электронных систем обеспечения безопасности и контроля объектов, включающих:

        .includes-cards-container.swiper
          ul.includes-cards.swiper-wrapper 
            <li class="step swiper-slide"> 
              <div class="step__num">1</div>
              <span class="step__text">охранно-пожарную сигнализацию</span>
            </li>

            <li class="step swiper-slide"> 
              <div class="step__num">2</div>
              <span class="step__text">контроль <br>доступа</span>
            </li>

            <li class="step swiper-slide"> 
              <div class="step__num">3</div>
              <span class="step__text">посты централизованного контроля и управления</span>
            </li>

            <li class="step swiper-slide"> 
              <div class="step__num">4</div>
              <span class="step__text">системы <br>видеонаблюдения</span>
            </li>

            <li class="step swiper-slide"> 
              <div class="step__num">5</div>
              <span class="step__text">радиосистемы передачи данных большого радиуса действия</span>
            </li>