.contacts {
  background-color: var(--dark-bg-1);
  padding-bottom: 0;
  padding-top: 0;
  overflow-x: hidden;
}



.contact-page {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;

  .back-btn {
    color: var(--accent);

    svg path {
      stroke: var(--accent);
    }
  }

  &__title {
    margin-bottom: 48px;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
  }

  &__content {
    padding-top: 182px;
    padding-bottom: 238px;
    padding-right: 15px;
  }

  &__info  {
    display: flex;
    gap: 95px;

    .tel + .tel {
      margin-top: 17px;
    }

    .adress {
      align-items: baseline;
      span {
        transform: translateY(-3px);

        small {
          color: #FFF;
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; 
          display: block;
          margin-top: 6px;
        }
      }
    }
  }

  &__map {
   
    height: 100%;
  }
  
}

.managers-contacts  {
  margin-top: 33px;

  strong {
    display: block;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-bottom: 22px;
  }

  ul li a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    display: inline-flex;
    width: 100%;

    span {
      margin-left: auto;
    }
  }
}

.selects-row {
  padding: 18px 38px 22px;
  border-radius: 30px;
  background: #0F0F0F; 
  margin-bottom: 52px;
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 641px;

  label {
    color: var(--accent);
    font-family: Russo One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-right: 17px;
  }
}