.back-row {
  position: absolute;
  top: 106px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.back-btn {
  color: #C4C4C4;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; 
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: none;
 width: fit-content;
  cursor: pointer;
  padding: 0;

  &:hover {
    color: var(--accent);
    opacity: 1;

    svg path {
      stroke: var(--accent);
    }
  }
}

@media (max-width: 768px) {
  .back-btn {
    font-size: 14px; 
  }

  .back-row {
    top: 60px;
  }

  .back-btn {
    line-height: 30px;
  }

  .w-page .back-row, .filled-page  .back-row, .shares-hero-section .back-row, .contacts .back-row {
    top: 81px;
  }

  

  
}