mixin back-row(href)
  .back-row
    .container 
      a(href=href).back-btn
        <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.53857 5.99976H1M1 5.99976L5.26929 1.73047M1 5.99976L5.26929 10.269" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> 
        block 