.faq-module.container 
  .faq-module__inner 
    ul.faq-list 
      li.faq-list__item 
        .faq-list__item-head
          | Что такое стоимость обслуживания и что в нее входит?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.


      li.faq-list__item 
        .faq-list__item-head
          | Могу ли я узнать, что происходит в доме во время моего отсутствия?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.

      li.faq-list__item 
        .faq-list__item-head
          | Что делать, если незаконное проникновение произошло в момент, когда он снят с охраны клиентом?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.


      li.faq-list__item 
        .faq-list__item-head
          | Когда квартира находится на сигнализации, будет ли система реагировать на движение животных, таких как кошка или собака?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.


      li.faq-list__item 
        .faq-list__item-head
          | Если у меня уже стоит охранная сигнализация, могу ли я стать вашим абонентом?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.


      li.faq-list__item 
        .faq-list__item-head
          | Что такое стоимость обслуживания и что в нее входит?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.


      li.faq-list__item 
        .faq-list__item-head
          | Могу ли я узнать, что происходит в доме во время моего отсутствия?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.

      li.faq-list__item 
        .faq-list__item-head
          | Что делать, если незаконное проникновение произошло в момент, когда он снят с охраны клиентом?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.


      li.faq-list__item 
        .faq-list__item-head
          | Когда квартира находится на сигнализации, будет ли система реагировать на движение животных, таких как кошка или собака?

          .arr 
            <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

        .faq-list__item-body-container
          .faq-list__item-body
            p Да. Специалисты компании могут подключить уже имеющуюся в вашем доме охранную и тревожную сигнализацию к нашему централизованному пульту наблюдения. Эта услуга — бесплатна.