.hero-section-dark + .faq-module {
  margin-top: -160px;
}

.faq-module__inner  {
  padding: 50px 104px 64px 101px;
  border-radius: 30px;
  background: #EFEFEF; 

  .faq-list__item:last-child {
    border-bottom: none;
  }

  .faq-list__item {
    padding-bottom: 29px;
  }
}

@media (max-width: 1024px) {
  .hero-section-dark + .faq-module {
    margin-top: -32px;
  }

  .faq-module__inner {
    padding: 60px;
  }
}

@media (max-width: 768px) {
  .faq-page .hero-section-dark__title {
    max-width: 99%;
  }

  .faq-module {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: 15px;
  }

  .faq-module__inner {
    padding: 22px 15px 80px 15px;
  }

  .faq-list__item-head .arr {
    width: 28px;
    min-width: 28px;
    height: 28px;
  }

  .faq-module__inner .faq-list__item {
    padding-bottom: 14px;
    padding-top: 13px;
  }

  .faq-module__inner .faq-list__item:last-child {
    border-bottom: 1px solid #C4C4C4;
  }
}