.faq-section  {
  padding-top: 124px;
  padding-bottom: 63px;

  .btn {
    margin-top: 35px;
  }

  &__title {
    margin-bottom: 50px;
  }
}

.faq-list__item  {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #C4C4C4;

 

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: #000;
    font-family: Russo One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; 
    cursor: pointer;

    .arr {
      width: 30px;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #000;
      transition: transform .3s ease;

      svg {
        // transform: translateX(1px);
      }
    }
  }

  &-body {
    // display: none;
    padding-top: 18px;
    

    p {
      color: #000;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      margin: 0;
      max-width: 1044px;
    }


    &-container {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease;

      &.container--active {
        max-height: 100%;
      }
    }
    
  }

  &.active {
    .faq-list__item-head .arr {
      transform: rotate(-180deg);

      svg {
        transform: translateX(0);
      }
    }

    
  }
}


@media (max-width: 980px) {
  .faq-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .faq-section {
    padding-top: 50px;
    padding-bottom: 32px;
  }

  .faq-list__item-head {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
  }

  .faq-list__item {
    padding-top: 15px;
    padding-bottom: 13px;
  }

  .faq-section__title {
    margin-bottom: 12px;
  }

  .faq-list__item-body {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .faq-section .btn {
    margin-top: 25px;
  }
}