.mail {
  display: flex;
  align-items: center;
  gap: 14px;
  color: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  .ic {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--accent-trs);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    white-space: nowrap;
  }

  &:hover {
    opacity: 1;

    span {
      opacity: 0.7;
    }
  }
}
