extends ../layouts/default

block variables
	- const title = "Отис | Охрана квартир"

block content
	include ../../blocks/modules/header/header

	main 
		include ../../blocks/modules/index-page/hero-slider-section/hero-slider-section-apartments-security
		include ../../blocks/modules/common/stats-section/stats-section
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")