extends ../layouts/default
include ../../blocks/components/back-row/back-row
include ../../blocks/components/popup-container/popup-container

block variables
	- const title = "Контакты | Отис"

block content
	include ../../blocks/modules/header/header

	main.page.contacts
		include ../../blocks/modules/pages/contacts-page-module/contacts-page-module


	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")