extends ../layouts/default
include ../../blocks/modules/common/hero-section-dark/hero-section-dark

block variables
	- const title = "FAQ | Отис"

block content
	include ../../blocks/modules/header/header

	main.page.how-work 
		+heroSectinoDark('На главную', 'Вопросы и ответы', 'xs')

		include ../../blocks/modules/pages/faq-page-module/faq-page-module
		

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")