extends ../layouts/default
include ../../blocks/components/back-row/back-row

block variables
	- const title = "Новости | Отис"

block content
	include ../../blocks/modules/header/header

	main.page.w-page.news-page(style="background-image: url(/img/news/newsbg.webp)")  
		+back-row("/company.html")
			| О компании

		.container
			h1.w-page__title Новости
			span.w-page__subtitle Обновления в мире безопасности, события компании и актуальные технологические разработки для вашей защиты
			
		include ../../blocks/modules/pages/news-module/news-module


	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")