.solutions-section {
  padding-top: 106px;
  position: relative;
  z-index: 1;

  .decision-section__title-row {
    column-gap: 22px;
  }

  .decision-section__title-container {
    margin-bottom: 95px;
}
}


.tariff-full {
  display: grid;
  grid-template-columns: 1fr 485px;
  column-gap: 15px;
  margin-bottom: -141px;

  &__includes  {
    padding: 47px 80px 80px 64px;
    border-radius: 30px;
    background: #FFF; 
  }

  &__info  {
    position: relative;
    padding-bottom: 180px;

    .tariff-card {
      padding: 54px 47.45px 60px 54.45px;
    }

    .tariff-card__title {
      margin-bottom: 30px;
  }
  }

  &__info-inner  {
    position: sticky;
    top: 120px;
  }
}

.options-block {
  & + .options-block {
    margin-top: 40px;
  }

  &__title {
    display: block;
    color: #000;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 357.143% */
    text-transform: uppercase; 
    margin-bottom: 36px;
  }

  &__grid  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 35px;
    max-width: 790px;
  }
}


.mini-features {
  margin-top: 44px;
  padding-left: 65px;
}

.mini-feature + .mini-feature {
  margin-top: 22px;
}

.mini-feature  {
  display: flex;
  gap: 26px;
  align-items: center;

  .ic {
    width: 55px;
    min-width: 55px;
    height: 55px; 
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .text strong {
    display: block;
    color: #000;
    font-family: Russo One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400; 
   
  }

  .text span {
    display: block;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  
  }
}