include ../../../components/filled-btn/filled-btn
include ../../../components/checkbox/checkbox
include ../../../components/tip/tip

section.solutions-section.container 
  .decision-section__title-container 
      span.subtitle выгодные тарифы услуг

      .decision-section__title-row 
        h3.decision-section__title Оптимальное решение для вашей безопасности

        p Мы стремимся сделать безопасность доступной для всех, поэтому предлагаем гибкое ценообразование, различные скидки и акции, чтобы наши клиенты могли выбрать наиболее подходящее решение для своих потребностей и бюджета.
 

  .tariff-full.tariff-full-container 
    .tariff-full__includes 
      .options-block 
        strong.options-block__title В тарифе по умолчанию:
        .options-block__grid 
          +checkbox('checkbox', 'n2', 'n2', 'disabled', 'Защита от проникновения')
          +checkbox('checkbox', 'n2', 'n2', 'disabled', 'Выезд группы реагирования ')
          +checkbox('checkbox', 'n22', 'n22', 'disabled', 'Монтаж системы ')
          +checkbox('checkbox', 'n3', 'n3', 'disabled', 'Материальная ответственность до 200 000 тг  ')
          +checkbox('checkbox', 'n4', 'n4', 'disabled', 'Мобильное приложение ')
          +checkbox('checkbox', 'n5', 'n5', 'disabled', 'Техническая поддержка 24/7/365')
          +checkbox('checkbox', 'n6', 'n6', 'disabled', 'Круглосуточный')
          +checkbox('checkbox', 'n7', 'n7', 'disabled', 'Оборудование Steamax')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

      .options-block
        strong.options-block__title опционально:

        .options-block__grid 
          +checkbox('checkbox', 'n8', 'n8', ' ', 'Оборудование Ajax', false, ' +60 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n9', 'n9', ' ', 'Датчик протечки воды', false, ' +6 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n10', 'n10', ' ', 'Видеонаблюдение', true, ' +10 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n11', 'n11', ' ', 'Датчик потребления ресурсов', false, ' +10 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n12', 'n12', ' ', 'Датчик движения', false, ' +3 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

    
          +checkbox('checkbox', 'n13', 'n13', ' ', 'Умная розетка', false, ' +3 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n14', 'n14', ' ', 'Датчик температуры', false, ' +4 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n15', 'n15', ' ', 'Считыватель, пульт управления', false, ' +4 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.


          +checkbox('checkbox', 'n16', 'n16', ' ', 'Датчик открытия ', false, ' +3 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n17', 'n17', ' ', 'RFID-метка ', false, ' +3 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n18', 'n18', ' ', 'Датчик разбития стекла ', false, ' +4 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n19', 'n19', ' ', 'Реле «сухой контакт»  ', false, ' +4 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n20', 'n20', ' ', 'Датчик дыма  ', false, ' +3 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.

          +checkbox('checkbox', 'n21', 'n21', ' ', 'Сирена ', false, ' +4 000 тг')
            +tip
              | Стартовый комплект системы безопасности Ajax. Состоит из хаба, датчика движения, датчика открытия и брелока с тревожной кнопкой.







    .tariff-full__info 
      .tariff-full__info-inner 
          .tariff-card.tariff-card--variable
            img.tariff-card__img(src="img/tariffs/tariff2.webp", alt="#")
            span.tariff-card__subtitle Тариф
            h4.tariff-card__title Квартира

            .tariff-card__tabs-container 
        
              .tariff-card__tabs-cotnent(data-tab="1").active 
                .tariff-card__price 
                  span Стоимость оборудования
                  strong от 45 000 тенге

                .tariff-card__price 
                  span Абонентская плата
                  strong от 10 000 тенге/мес

                .tariff-card__actions
                  +filled-btn('accent xs', 'button')
                    | Заказать 

                  +filled-btn('xs', 'button')
                    | Получить консультацию


          .mini-features
            .mini-feature
              .ic 
                img(src="img/svg/calendar.svg", alt="#" width="16" height="18")

              .text 
                strong  12 мес
                span   гарантия на оборудование

            .mini-feature
              .ic 
                img(src="img/svg/users.svg", alt="#" width="22" height="18")

              .text 
                strong  75
                span   технических сотрудников   
