section.employees-section.dark
  .container
    .shapes-composition.shape1 
      img(src="img/forces.webp", alt="#" width="949" height="755").main-shape

      img(src="img/svg/247-red.svg", alt="#").shape2
      img(src="img/svg/247-red-mob.svg", alt="#").shape2_1m
  
      .pulse-box.shape3
        .pulse-box__shadow 

        .pulse-box__content 
          strong 5.47
          span время <br>прибытия

      .shape-dot.shape4(data-target="1")
      .shape-dot.shape5(data-target="2")
      .shape-dot.shape6(data-target="4") 
      .shape-dot.shape7(data-target="5")     
      .shape-dot.shape8(data-target="3")  

    .employees-section__content 
      h2.employees-section__title Сотрудники групп оперативного реагирования "КУЗЕТ"

      .employees-section__text 
        strong В состав каждой группы входят <br>2 сотрудника охраны:
        
        .list-slider-container.swiper
          ul.swiper-wrapper 
            li.swiper-slide(data-target="1") опытные профессионалы, положительно зарекомендовавшие себя во время работы в подразделениях <span>МВД</span> и службы в <span>Вооруженных Силах</span> Республики Казахстан
            li.swiper-slide(data-target="2") прошедшие <span>специальную подготовку</span> в специальных учебных центрах Республики Казахстан и имеющие соответствующие <span>свидетельства установленного образца</span> и соответствующие требованиям Закона РК «Об охранной деятельности»
            li.swiper-slide(data-target="3") <span>вооружены гладкоствольными ружьями</span> типа «Сайга» и травматическими пистолетами, разрешёнными к применению в экипажах МГОР
            li.swiper-slide(data-target="4") <span>экипировка экипажей</span>: каска, бронежилет, наручники, палка резиновая, радиостанции, резервный сотовый телефон, GPS-трекер, а также планшет с карточками объектов
            li.swiper-slide(data-target="5") <span>каждая машина оснащена</span>: стационарной радиостанцией, системой GPS, проблесковые маячки, специальные отличительные наклейки