.employees-section {
  background-image: url('../img/employyers-bg.webp'), linear-gradient(0deg, #232323 0%, #232323 100%), linear-gradient(120deg, #151515 44%, #3A3A3A 103.07%);
  background-position: center right 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 270px;
  padding-bottom: 136px;

  &__content {
    max-width: 933px;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__text  {
    max-width: 794px;
    width: 100%;
    column-count: 2;
    column-gap: 74px;

    strong {
      display: block;
      color: var(--accent);
      font-family: Russo One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 37px;
    }

    ul  {

      li {
        position: relative;
        padding-left: 33px;

        &:before {
          content: "";
          position: absolute;
          top: 7px;
          left: 2px;
          width: 12px;
          height: 9px;
          background-image: url('../img/svg/accent-check.svg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        span {
          font-weight: 700;
        }
      }


      li:not(:last-child) {
        margin-bottom: 27px;
      }
    }
  }
}

.pulse-box {
  width: 180px;
  height: 180px; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__shadow  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(254, 128, 0, 0.28);
    filter: drop-shadow(0px 20px 40px rgba(254, 128, 0, 0.45)); 
    border-radius: 50%;
  }

  &__content  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 109.239px;
    height: 109.239px; 
    background-color: var(--accent);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    
    strong {
      display: block;
      color: #FFF;
      font-family: Russo One;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      margin-bottom: 2px;
    }

    span {
      display: block;
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 13px; 
    }
  }
}

.employees-section {
  position: relative;
  
  .shape-dot {
    position: absolute;
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    background-color: var(--accent);
    opacity: 0;
  }

  .shape1  {
    position: absolute;
    bottom: 9.6%;
    right: 1%;
  }

  .shape2  {
    position: absolute;
    bottom: 20.3%;
    left: 29%;
    z-index: 1;
  }

  .shape3 {
    position: absolute;
    top: 29.6%;
    right: 21.3%;
    z-index: 1;
  }

  .shape4 {
    top: 0.3%;
    right: 34.5%;
    z-index: 1;
  }

  .shape5 {
    top: 22%;
    right: 41.1%;
    z-index: 1;
  }

  .shape6 {
    bottom: 49.8%;
    right: 45.2%;
    z-index: 1;
  }
}