.stats-section.dark
  .container 
    .stats-section__inner 
        .counts-row
          .clock-count 
            .clock-count__ic 
              img(src="img/svg/hause.svg", alt="#" width="20" height="22")

            .clock-count__text
              strong 
                small(data-num="45892063") 0 
              span обьектов подключено

          .clock-count 
            .clock-count__ic 
              img(src="img/svg/time.svg", alt="#" width="20" height="22")

            .clock-count__text
              strong 
                small(data-num="5.47") 0 
                |  мин
              span скорость прибытия 

          .clock-count 
            .clock-count__ic 
              img(src="img/svg/calendar.svg", alt="#" width="20" height="22")

            .clock-count__text
              strong 
                small(data-num="12") 0 
                |  мес
              span гарантия оборудования

          .clock-count 
            .clock-count__ic 
              img(src="img/svg/car.svg", alt="#" width="20" height="22")

            .clock-count__text
              strong 
                small(data-num="60") 0 
             
              span экипажей по РК    

        .reward-row 
          .reward-row__text 
            h3.reward-row__title 5 наград 
              span лидера отрасли 

            p ОТИС заслужнно признана лучшей компанией последнего десятилетия в сфере безопасности   


          .reward-row__images.swiper
            .swiper-wrapper
              img.swiper-slide(src="img/revards/1.webp", alt="#" width="109" height="111")
              img.swiper-slide(src="img/revards/2.webp", alt="#" width="109" height="111")  
              img.swiper-slide(src="img/revards/3.webp", alt="#" width="80" height="111")  
              img.swiper-slide(src="img/revards/4.webp", alt="#" width="80" height="111")  
              img.swiper-slide(src="img/revards/5.webp", alt="#" width="81" height="111")  