.stats-section {
  position: relative;
  z-index: 1;
  margin-top: -104px;
}

.stats-section__inner  {
  padding: 75px 100px 80px;
  background-image: url('../img/stats-section-bg.webp'), linear-gradient(var(--dark-bg-2), var(--dark-bg-2));
  background-position: bottom 2px right 2px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  min-height: 454px;

  .counts-row + .reward-row  {
    margin-top: 61.54px;
    padding-top: 61.54px;
    border-top: 1px solid #444;
  }
  
}

.stats-section {
  .reward-row__images {
    justify-content: flex-end;
  }

  .clock-count__ic {
    background-color: #232323;
  }

  .clock-count__text span {
    white-space: nowrap;
  }
}

.counts-row {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - (65px * 3 / 4)));
  gap: 65px;
}