.page.app {
  padding-bottom: 240px;
}

.hero-app-section-container {
  .back-btn {
    color: var(--accent);

    svg path {
      stroke: var(--accent);
    }
  }

  .app-section {
    overflow: hidden;
  }

  .app-section__title {
    font-family: Montserrat;
    font-weight: 700; 
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 15px;
  }

  .app-section__content {
    padding-top: 182px;
    padding-bottom: 135px;
  }

  .app-section__subtitle {
    font-family: Russo One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 35px;
  }

  .app-section .shape1 {
    right: -4.5%;
  }
}


.app-info-cards  {
  padding-top: 131px;
}

.app-info-cards  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
  margin-bottom: 99px;
}

.app-info-card {
  border-radius: 30px;
  border: 1px solid #000;
  padding: 18px 24px 24px 34px;
  display: grid;
  grid-template-columns: 362px auto;
  gap: 54px;
  justify-content: space-between;
  min-height: 410px;

  &__txt {
    strong {
      display: block;
      color: #000;
      font-family: Russo One;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      margin-bottom: 20px;
    }

    ul {
      margin-bottom: 25px;

      li {
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        padding-left: 15px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 12px;
          left: 1px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: var(--accent);
        }
      }
    }

    p {
      color: #000;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }

  &__img {
    display: flex;
    align-items: flex-end;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}


.access-sec {
  &__title {
    margin-bottom: 48px;
  }

  &__list  {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 20px; 
  }

  &__card {
    padding: 30px 30px 49px;
    border-radius: 30px;
    background: linear-gradient(0deg, #EFEFEF 0%, #EFEFEF 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    height: auto;

    .num {
      margin-bottom: 70px;
      width: 37px;
      height: 37px;
      border: 1px solid var(--accent);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; 
      color: var(--accent);
      font-family: Russo One;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
    }

    strong {
      display: block;
      color: #000;
      font-family: Russo One;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 14px;
    }

    p {
      color: #000;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
    }

    &:nth-child(1) {
      background: linear-gradient(0deg, #2E2E2F 0%, #2E2E2F 100%), url(<path-to-image>), lightgray 50% / cover no-repeat; 

      strong, p {
        color: #fff;
      }
    }

    &:nth-child(2) {
      background: linear-gradient(206deg, #195043 20.87%, #303030 95.41%); 

      strong, p {
        color: #fff;
      }
    } 
  }
  
}


.hero-app-section-container .app-section__content {
  position: relative;
  z-index: 1;
}

@media (max-width: 1520px) {
  .hero-app-section-container .app-section__title {
    max-width: 760px;
  }
}

@media (max-width: 1340px) {
  .app-info-card {
    grid-template-columns: 300px auto;
    gap: 25px;
  }
}

@media (max-width: 1240px) {
  .hero-app-section-container .app-section .shape1 {
    right: -18.5%;
  }
}

@media (max-width: 1124px) {
  .app-info-card {
    position: relative;
    min-height: auto;
  }

  .app-info-card__img {
    position: absolute;
    max-width: 81px;
    top: 5px;
    left: 20px;
  }

  .app-info-card {
    grid-template-columns: 100%;
  }

  .app-info-card__txt strong {
    min-height: 80px;
    padding-left: 100px;
    max-width: 96%;
  }
}

@media (max-width: 1024px) {
  .hero-app-section-container .app-section__title {
    font-family: Russo One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }

  .access-sec__card {
    max-width: 346px;
  }

  .access-sec__list-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .hero-app-section-container .app-section {
    padding-top: 0;
    background-image: url('../img/app-page-bg-mob.webp');
    background-position: top 0 right 0;
    background-position: auto 100%;
  }

  .hero-app-section-container .app-section__content {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .hero-app-section-container .back-row {
    top: 81px;
  }

  .hero-app-section-container .app-section__title {
    margin-bottom: 13px;
  }

  .hero-app-section-container .app-section__subtitle {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .hero-app-section-container .app-section__subtitle {
    margin-bottom: 376px;
  }

  .hero-app-section-container .dot-list li:before {
    top: 10px;
    left: 4px;
  }

  .hero-app-section-container .app-section .shape1 {
    right: -15.5%;
    top: 31.4%;
  }


  .access-sec__card {
    max-width: calc(100% - 15px);
        height: 100%;
    min-height: 299px;
  }

  .app-info-cards {
    grid-template-columns: 100%;
    gap: 0;
  }

  .app-info-cards {
    padding-top: 0;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }

  .app-info-card {
    padding: 14px 15px 24px 15px;
    padding-top: 98px;
    margin-top: -51px;
    background: #fff;

   


    &:first-child {
      z-index: 1;
    }
  }

  .hero-app-section-container {
    position: relative;
    z-index: 2;

    .app-section .apps {
      margin-top: 26px;
    }
  }

  .app-info-card__txt strong {
    padding-left: 105px;
    margin-bottom: 25px;
  }

  .app-info-card__img {
    top: 93px;
    left: 18px;
  }

  .app-info-cards {
    margin-bottom: 42px;
  }

  .access-sec__title {
    margin-bottom: 28px;
  }

  .access-sec__card .num {
    margin-bottom: 49px;
  }

  .page.app {
    padding-bottom: 170px;
  }

}


@media (max-width: 577px) {
  .app-section .apps {
      grid-template-columns: repeat(2, 1fr);
  }

  .hero-app-section-container .app-section .shape1 {
    max-width: 372px;
  }

  .hero-app-section-container .app-section .shape1 {
    right: -33.5%;
    top: 35.4%;
}
  
}
