section.partner-section 
  .container 
    h3.partner-section__title 
      | ОТИС надежный партнер в обеспечении безопасности с 1997 года. <br>
      | Мы независимы от провайдеров, погодных условий, автоматически тестируем работу абонентского модуля и на связи 24/7.<br> 
      | Начать сотрудничество с нами просто:

    ul.steps-grid 
      li.step 
        .step__num 1

        span.step__text Вы оставляете заявку на сайте или по телефону. Получаете консультацию   

      li.step 
        .step__num 2

        span.step__text Наш инженер приезжает к вам и подготавливает  проект системы безопасности

      li.step 
        .step__num 3

        span.step__text Мы составляем смету и согласовываем ее с вами

      li.step 
        .step__num 4

        span.step__text Заключаем договор на установку оборудования и мониторинг

      li.step 
        .step__num 5

        span.step__text Вы производите оплату удобным для вас способом

      li.step 
        .step__num 6

        span.step__text Наша монтажная бригада устанавливает оборудование

      li.step 
        .step__num 7

        span.step__text Наш инспектор КУЗЕТ подготавливает «карточку объекта»


      li.step 
        .step__num 8

        span.step__text Наш техник проводит детальное обучение

      li.step 
        .step__num 9

        span.step__text Подключаем объект к централизованному пульту наблюдения

      li.step 
        .step__num 10

        span.step__text Подключаем <br>приложение «ОТИС.kz»

      li.step 
        .step__logo 
          img(src="img/svg/minilogo.svg", alt="#")

        span.step__text Вы под надежной защитой. Благодаря многолетнему опыту и отличной репутации, ОТИС гарантирует безопасность, позволяя вам спать спокойно


