include ../../../components/txt-link/txt-link
include ../../../components/popup-container/popup-container

+popupContainer('review', 'reviews-popup')
    include ../../popups/review-popup/review-popup    

section.companies-section 
  .container 
    span.subtitle Ваше благополучие - наша <span>главная</span> цель
    h3.companies-section__title Известные компании о безопасности с ОТИС



    .companies-section__content-slider.swiper 
      .swiper-wrapper 
        .swiper-slide.company-slide(data-trigger-modal="review" data-num="1")
          .company-slide__img
            img(src="img/reviews/1.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара
      
        .swiper-slide.company-slide(data-trigger-modal="review" data-num="2")
          .company-slide__img
            img(src="img/reviews/2.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "Займер"
            p В действиях охранной службы мы ценим прежде всего хороший уровень подготовки, ответственное отношение к обязанностям, умение правильно оценивать обстановку и незамедлительно реагировать на возникшие угрозы

        .swiper-slide.company-slide(data-trigger-modal="review" data-num="3")
          .company-slide__img
            img(src="img/reviews/3.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p  Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара    

        .swiper-slide.company-slide(data-trigger-modal="review" data-num="4")
          .company-slide__img
            img(src="img/reviews/1.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара
      
        .swiper-slide.company-slide(data-trigger-modal="review" data-num="5")
          .company-slide__img
            img(src="img/reviews/2.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "Займер"
            p В действиях охранной службы мы ценим прежде всего хороший уровень подготовки, ответственное отношение к обязанностям, умение правильно оценивать обстановку и незамедлительно реагировать на возникшие угрозы

        .swiper-slide.company-slide(data-trigger-modal="review" data-num="6")
          .company-slide__img
            img(src="img/reviews/3.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p  Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара    


        .swiper-slide.company-slide(data-trigger-modal="review" data-num="7")
          .company-slide__img
            img(src="img/reviews/1.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара
      
        .swiper-slide.company-slide(data-trigger-modal="review" data-num="8")
          .company-slide__img
            img(src="img/reviews/2.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "Займер"
            p В действиях охранной службы мы ценим прежде всего хороший уровень подготовки, ответственное отношение к обязанностям, умение правильно оценивать обстановку и незамедлительно реагировать на возникшие угрозы

        .swiper-slide.company-slide(data-trigger-modal="review" data-num="9")
          .company-slide__img
            img(src="img/reviews/3.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p  Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара    


      include ../../../../blocks/components/slider-navs/slider-navs

    +txt-link('/reviews.html', 'btn')
          | Все отзывы
