.companies-section  {
  padding-top: 267px;
  padding-bottom: 127px;
  background-color: #EFEFEF;
  background-image: url('../img/companies-bg.webp');
  background-position: top 0 right  0;
  background-repeat: no-repeat;
  background-size: contain; 

  &--t2 {
    padding-top: 125px;
    background-color: #EFEFEF;
    background-position: top -148px right 10px;
  }

  &__title {
    margin-bottom: 86px;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .slider-btns {
    margin-right: 0;
  }

  .txt-link {
    margin-top: 6px;
  }
}

.company-slide {
  border-radius: 30px;
  background: #FFF;
  // backdrop-filter: blur(25px);
  padding: 53px;
  display: grid;
  grid-template-columns: 106px 1fr;
  column-gap: 38px;
  height: auto;

  &__img img {
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px; 
    display: block;
    max-width: 100%;
  }

  &__text {
    strong {
      display: block;
      color: #000;
      font-family: Russo One;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      margin-bottom: 17px;
    }

    p {
      color: #000;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; 
      margin: 0;
    }
  }
}

.ptb {
  padding-top: 85px;
  padding-bottom: 24px;
}


@media (max-width: 1320px) {
  .companies-section__content-slider  {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .company-slide {
    max-width: 487px;
  }
}


@media (max-width: 980px) {
  .companies-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


@media (max-width: 768px) {
  .companies-section {
    padding-top: 44px;
    padding-bottom: 32px;
    background-image: none;
  }


  .companies-section .subtitle  {
    line-height: 28px;
    margin-bottom: 5px;

    span {
      display: none;
    }
  }


  .companies-section__title {
    margin-bottom: 30px;
  }

  .company-slide {
    padding: 32px 18px 20px 25px;
  }

  .company-slide__text strong {
    margin-bottom: 7px;
  }

  .company-slide__text p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }

  .companies-section .slider-btns {
    display: none;
  }

  .companies-section .txt-link {
    margin-top: 32px;
  }

  .ptb {
    padding-top: 11px;
    padding-bottom: 9px;
  }
 
}

@media (max-width: 577px) {
  .company-slide {
    max-width: calc(100% - 15px);
    grid-template-columns: 100%;
    gap: 26px;
    display: flex;
    flex-direction: column;
  }

  
  .company-slide__img img {
    max-width: 62px; 
    height: auto;
  }

}