include ../../../components/txt-link/txt-link

section.companies-section.companies-section--t2 
  .container 
    span.subtitle Ваше благополучие - наша <span>главная</span> цель
    h3.companies-section__title Известные компании о безопасности с ОТИС



    .companies-section__content-slider.swiper 
      .swiper-wrapper 
        .swiper-slide.company-slide
          .company-slide__img
            img(src="img/reviews/1.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара
      
        .swiper-slide.company-slide
          .company-slide__img
            img(src="img/reviews/2.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "Займер"
            p В действиях охранной службы мы ценим прежде всего хороший уровень подготовки, ответственное отношение к обязанностям, умение правильно оценивать обстановку и незамедлительно реагировать на возникшие угрозы

        .swiper-slide.company-slide
          .company-slide__img
            img(src="img/reviews/3.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p  Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара    

        .swiper-slide.company-slide
          .company-slide__img
            img(src="img/reviews/1.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара
      
        .swiper-slide.company-slide
          .company-slide__img
            img(src="img/reviews/2.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "Займер"
            p В действиях охранной службы мы ценим прежде всего хороший уровень подготовки, ответственное отношение к обязанностям, умение правильно оценивать обстановку и незамедлительно реагировать на возникшие угрозы

        .swiper-slide.company-slide
          .company-slide__img
            img(src="img/reviews/3.webp", alt="#" width="107" height="148")

          .company-slide__text
            strong ТОО "INTERTEACH"
            p  Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара    


      include ../../../../blocks/components/slider-navs/slider-navs

    +txt-link('/reviews.html', 'btn')
          | Все отзывы
