.decision-section {
  padding-top: 112px;
  background: #f8f8f8;

  &__title-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 84px;

    p {
      margin: 0;
      padding-top: 12px;
    }
  }

  &__title-container {
    margin-bottom: 110px;
  }
}

.subtitle {
  color: #9a9a9a;
  font-family: Russo One;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 357.143% */
  text-transform: uppercase;
  margin-bottom: 4.5px;
  display: block;
}

.tariffs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  align-items: flex-end;
  margin-bottom: -134px;
  position: relative;
  z-index: 1;
}

.tariff-card {
  position: relative;
  padding: 55px 47.45px 42px 47.45px;
  border-radius: 30px;
  background: var(--dark-bg-2);
  color: #fff;
  overflow: hidden;

  &--variable {
    background: #444;

    .tarrig-card__img {
      top: 0;
    }
  }

  &__img {
    position: absolute;
    top: 19.39px;
    right: 0;
  }

  &__subtitle {
    display: block;
    color: #ddd;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__actions {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__price {
    span {
      display: block;
      color: #c4c4c4;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 6px;
    }

    strong {
      display: block;
      font-family: Russo One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
    }

    & + .tariff-card__price {
      margin-top: 19px;
    }

    
  }

  .btn {
    margin-top: 30px;
  }

  &__tabs-cotnent:not(.active) {
    display: none;
  }

  &__tabs-btns {
    width: fit-content;
    border-bottom: 1px solid #696969;
    margin-bottom: 22px;
    display: flex;
    gap: 19px;
    padding-bottom: 5px;
  }

  &__tabs-container {
    margin-top: -5px;
  }

  &__tabs-btn {
    cursor: pointer;
    color: #fff;
    border: none;
    background: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    padding: 0;

    &.active {
      color: var(--accent);
      font-weight: 700;

      &:after {
        content: '';
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--accent);
      }
    }
  }
}
