section.decision-section 
  .container 
    .decision-section__title-container 
      span.subtitle выгодные тарифы услуг

      .decision-section__title-row 
        h3.decision-section__title Выберите оптимальное решение<br> для вашей безопасности

        p Мы стремимся сделать безопасность доступной для всех, поэтому предлагаем гибкое ценообразование, различные скидки и акции, чтобы наши клиенты могли выбрать наиболее подходящее решение для своих потребностей и бюджета.