.decision-section {
  padding-top: 112px;
  background: #f8f8f8;

  &__title-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 84px;

    p {
      margin: 0;
      padding-top: 12px;
    }
  }

  &__title-container {
    margin-bottom: 110px;
  }

  .slider-btns {
    display: none;
  }
}

.subtitle {
  color: #9a9a9a;
  font-family: Russo One;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 357.143% */
  text-transform: uppercase;
  margin-bottom: 4.5px;
  display: block;
}

.tariffs-grid {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // column-gap: 20px;
  align-items: flex-end;
  margin-bottom: -134px;
  position: relative;
  z-index: 1;

  li:nth-child(2) .tariff-card  {
    &__img {
      &:before {
        top: calc(100% - 70px);
        left: 54%;
      }
    }
  }

  li:nth-child(3) .tariff-card  {
    &__img {
      &:before {
        top: calc(100% - 70px);
        left: 54%;
      }
    }
  }

}

.tariff-card {
  position: relative;
  padding: 55px 47.45px 42px 47.45px;
  border-radius: 30px;
  background: var(--dark-bg-2);
  color: #fff;
  overflow: hidden;

  &--variable {
    background: #444;

    .tarrig-card__img {
      top: 0;
    }
  }


  &__img {
    position: absolute;
    top: 19.39px;
    right: 0;
    width: fit-content;
    height: fit-content;

    .mob {
      display: none;
    }

    img {
      position: relative;
      z-index: 1;
    }

    &:before {
      content: "";
      position: absolute;
      top: calc(100% - 33px);
      left: 50%;
      transform: translateX(-33%) rotate(4.633deg);
      width: 220px;
      height: 20px;
      flex-shrink: 0;
      background-color: #FE8000;
      filter: blur(25px);
    }
  }

  &__subtitle {
    display: block;
    color: #ddd;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
  }

  &__actions {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    z-index: 1;
  }

  &__price {
    span {
      display: block;
      color: #c4c4c4;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 6px;
    }

    strong {
      display: block;
      font-family: Russo One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
    }

    & + .tariff-card__price {
      margin-top: 19px;
    }

    
  }

  .btn {
    margin-top: 30px;
  }

  &__tabs-cotnent:not(.active) {
    display: none;
  }

  &__tabs-btns {
    width: fit-content;
    border-bottom: 1px solid #696969;
    margin-bottom: 22px;
    display: flex;
    gap: 19px;
    padding-bottom: 5px;
  }

  &__tabs-container {
    margin-top: -5px;
  }

  &__tabs-btn {
    cursor: pointer;
    color: #fff;
    border: none;
    background: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    padding: 0;

    &.active {
      color: var(--accent);
      font-weight: 700;

      &:after {
        content: '';
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--accent);
      }
    }
  }
}


@media (max-width: 1125px) {
  .decision-section__title-row {
    grid-template-columns: 100%;
    gap: 40px;

    p {
      padding-top: 0;
    }
  }

  .tariffs-grid-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tariffs-grid {
    li {
      max-width: 488px;
      width: 100%;
    }
  }
}


@media (max-width: 768px) {
  .decision-section .slider-btns {
    display: flex;
    margin-left: -3px;
    margin-top: 0 ;
  }

  .decision-section__title-container {
    margin-bottom: 15px;
  }

  .decision-section {
    padding-top: 52px;
  }

  .decision-section__title-row {
      margin-top: -11px;

      br {
        display: none;
      }
  }

  .decision-section__title-row p {
    display: none;
  }

  .tariffs-grid-container {
    margin-top: 6px;
  }
 
}

@media (max-width: 577px) {
  .tariffs-grid {
    li {
      max-width: calc(100% - 15px);
      width: 100%;
    }
  }

  .tariff-card__img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: auto;
    right: auto;
    margin-bottom: 13px;

    img:not(.mob) {
      display: none;
    }

    .mob {
      display: block;
    }

    &::before {
      width: 134.065px;
      height: 12.188px;
      flex-shrink: 0; 
      top: calc(100% - 25px);
      left: 24%;
    }
  }

  .tariffs-grid li:nth-child(2) .tariff-card__img:before {
    top: calc(100% - 25px);
    left: 24%;
  }

  .tariffs-grid li:nth-child(3) .tariff-card__img:before {
    top: calc(100% - 25px);
    left: 24%;
  }

  .tariff-card {
    padding: 32px 20px 25px 20px;
  }

  .tariff-card__title {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  .tariff-card__price + .tariff-card__price {
    margin-top: 7px;
  }

  .tariff-card .btn {
    margin-top: 22px;
  }
}