ul.childs-grid 
  li.child
    .child__logo 
      img(src="img/childs/treid.webp", alt="#" width="127" height="35")

    a.tel(href="tel: +7 (727) 2 58 11 55")
      .ic
        img(src="img/svg/tel.svg", alt="#" width="13" height="13")
      span +7 (727) 2 58 11 55 

  li.child
    .child__logo 
      img(src="img/childs/tumar.webp", alt="#" width="127" height="35")

    a.tel(href="tel: +8 (727) 317 98 36")
      .ic
        img(src="img/svg/tel.svg", alt="#" width="13" height="13")
      span 8 (727) 317 98 36, <br>263 96 05

    a.tel.web(href="https://otis.kz" target="__blanc")
      .ic
        img(src="img/svg/web.svg", alt="#" width="13" height="13")
      span www.otis.kz    
  

  li.child
    .child__logo 
      img(src="img/childs/west.webp", alt="#" width="127" height="35")

    a.tel(href="tel: +8 (727) 327 88 36")
      .ic
        img(src="img/svg/tel.svg", alt="#" width="13" height="13")
      span 8 (727) 327 88 36, <br>327 88 37, 367 15 79 

    a.tel.web(href="https://west-otis.kz/" target="__blanc")
      .ic
        img(src="img/svg/web.svg", alt="#" width="13" height="13")
      span www.west-otis.kz

  li.child
    .child__logo 
      img(src="img/childs/nord.webp", alt="#" width="127" height="35")

    a.tel(href="tel: 8 (727) 327 88 38")
      .ic
        img(src="img/svg/tel.svg", alt="#" width="13" height="13")
      span 8 (727) 327 88 38, <br>329 22 46  

    a.tel.web(href="https://nord-otis.kz" target="__blanc")
      .ic
        img(src="img/svg/web.svg", alt="#" width="13" height="13")
      span www.nord-otis.kz  

  li.child
    .child__logo 
      img(src="img/childs/east.webp", alt="#" width="127" height="35")

    a.tel(href="tel: +8 (727) 327 42 34")
      .ic
        img(src="img/svg/tel.svg", alt="#" width="13" height="13")
      span 8 (727) 327 42 34, <br>329 22 47   

    a.tel.web(href="https://east-otis.kz" target="__blanc")
      .ic
        img(src="img/svg/web.svg", alt="#" width="13" height="13")
      span www.east-otis.kz                 