extends layouts/default
include helpers/mixins

block variables
	- const title = "Отис | Главная страница"

block content
	include ../blocks/modules/header/header

	main
		include ../blocks/modules/index-page/hero-slider-section/hero-slider-section
		include ../blocks/modules/index-page/about-section/about-section
		include ../blocks/modules/index-page/categories-grid/categories-grid
		include ../blocks/modules/index-page/partner-section/partner-section
		include ../blocks/modules/index-page/app-section/app-section
		include ../blocks/modules/index-page/decision-section/decision-section
		include ../blocks/modules/index-page/latest-news-section/latest-news-section	
		include ../blocks/modules/index-page/geo-section/geo-section	
		include ../blocks/modules/index-page/clients-section/clients-section
		

	include ../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")