.hero-section-bg {
  padding-top: 190px;
  padding-bottom: 100px;
  min-height: 598px;
  background-color: #232323;
  background-image: url('../img/single-news-bg.webp');
  background-position: top 0 right 0;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    color: #FFF;
    font-family: Russo One;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; 
    max-width: 95%;
  }

  .back-btn {
    color: var(--accent);
    svg path {
      stroke: var(--accent);
    }
  }

  &.xs {
    min-height: 530px;
  }

  &.bg {
    min-height: 598px;
  }

  & + .single-news-container  {
    margin-top: -190px;
  }
}


@media (max-width: 1024px) {
  .hero-section-bg__title {
    font-size: 30px;
    line-height: 40px;
  }

  .hero-section-bg {
    height: auto;
    min-height: auto;
  }

  .hero-section-bg  .back-row {
    top: 84px;
  }

  .single-news-content__info .socials {
    max-width: 100%;
  }

}


@media (max-width: 768px) {
  .hero-section-bg {
    padding-top: 123px;
    background-image: url('../img/single-news-bg-mob.webp');
    background-position: top 60px right 0;
  }

  .single-news-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }

  .hero-section-bg + .single-news-container {
    margin-top: -30px;
  }

  .single-news-page .hero-section-bg {
    padding-bottom: 70px;
  }


  
}