.categories-section 
  .container 
    ul.categories-grid
      li
        a(href="#" style="background-image: url(img/categories/trevozhnaya.webp)").category-tile.light
          strong.category-tile__title 
            | Тревожная <br>сигнализация 

            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.15955 5.65015H9.69812M9.69812 5.65015L5.42883 1.38086M9.69812 5.65015L5.42883 9.91943" stroke="#EF7F1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

          img(src="img/svg/dots.svg", alt="#" width="25" height="25").ic  

      li
        a(href="#" style="background-image: url(img/categories/pozharnaya.webp)").category-tile.dark
          strong.category-tile__title 
            | Пожарная <br>сигнализация

            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.15955 5.65015H9.69812M9.69812 5.65015L5.42883 1.38086M9.69812 5.65015L5.42883 9.91943" stroke="#EF7F1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
            
      li
        a(href="#" style="background-image: url(img/categories/ohotnikov.webp)").category-tile.light
          strong.category-tile__title 
            | Cигнализация <br>для охотников

            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.15955 5.65015H9.69812M9.69812 5.65015L5.42883 1.38086M9.69812 5.65015L5.42883 9.91943" stroke="#EF7F1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 

          img(src="img/svg/pistol.svg", alt="#" width="29" height="21").ic       

      li
        a(href="#" style="background-image: url(img/categories/ohranaya.webp)").category-tile.dark
          strong.category-tile__title 
            | Охранная <br>сигнализация

            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.15955 5.65015H9.69812M9.69812 5.65015L5.42883 1.38086M9.69812 5.65015L5.42883 9.91943" stroke="#EF7F1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>     

      li
        a(href="#" style="background-image: url(img/categories/ustanovka.webp)").category-tile.light
          strong.category-tile__title 
            | Установка <br>видеонаблюдения

            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.15955 5.65015H9.69812M9.69812 5.65015L5.42883 1.38086M9.69812 5.65015L5.42883 9.91943" stroke="#EF7F1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>   

          img(src="img/svg/camera.svg", alt="#" width="25" height="16").ic   

      li
        a(href="#" style="background-image: url(img/categories/kontrolya.webp)").category-tile.dark
          strong.category-tile__title 
            | Системы контроля<br> доступа и учета <br>рабочего времени

            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.15955 5.65015H9.69812M9.69812 5.65015L5.42883 1.38086M9.69812 5.65015L5.42883 9.91943" stroke="#EF7F1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                