@import 'header/header';
@import 'footer/footer';
@import 'get-consult/get-consult';

// Common
@import 'common/stats-section/stats-section';
@import 'common/companies-section/companies-section';
@import 'common/hero-section-dark/hero-section-dark';

// Index page
@import 'index-page/hero-slider-section/hero-slider-section';
@import 'index-page/about-section/about-section';
@import 'index-page/categories-grid/categories-grid';
@import 'index-page/partner-section/partner-section';
@import 'index-page/app-section/app-section';
@import 'index-page/decision-section/decision-section';
@import 'index-page/geo-section/geo-section';
@import 'index-page/clients-section/clients-section';
@import 'index-page/latest-news-section/latest-news-section';



// Apartments security page
@import 'apartment-security-page/approach-section/approach-section';
@import 'apartment-security-page/employees-section/employees-section';
@import 'apartment-security-page/solutions-section/solutions-section';
@import 'apartment-security-page/faq-section/faq-section';
@import 'apartment-security-page/spheres-section/spheres-section';
@import 'apartment-security-page/history-short/history-short';
@import 'apartment-security-page/features-section/features-section';