@import 'header/header';
@import 'footer/footer';
@import 'get-consult/get-consult';

// Index page
@import 'index-page/decision-section/decision-section';
@import 'index-page/geo-section/geo-section';
@import 'index-page/clients-section/clients-section';
@import 'index-page/latest-news-section/latest-news-section';
