include ../../../components/txt-btn/txt-btn

.how-work-container.container 
  .how-work-inner 
    .how-work__img-slider.swiper 
      .swiper-wrapper 
        .swiper-slide(data-slide="1").active
          img(src="img/how-work-img.webp", alt="#" width="464" height="349" )
        .swiper-slide(data-slide="2") 
          img(src="img/how-work-img.webp", alt="#" width="464" height="349")
        .swiper-slide(data-slide="3") 
          img(src="img/how-work-img.webp", alt="#" width="464" height="349")
        .swiper-slide(data-slide="4")
          img(src="img/how-work-img.webp", alt="#" width="464" height="349")      


    .how-work__text
      .how-work__actions-container.swiper
        .how-work__actions.swiper-wrapper 
          button.swiper-slide.how-work__action.active(type="button" data-slide="1") Монтаж оборудования
          button.swiper-slide.how-work__action(type="button" data-slide="2") Мониторинг
          button.swiper-slide.how-work__action(type="button" data-slide="3") Реагирование
          button.swiper-slide.how-work__action(type="button" data-slide="4") Техническая поддержка   


      .how-work__text-slider.swiper 
        .swiper-wrapper 
          .swiper-slide(data-slide="1").active 
            p Наши специалисты устанавливают в Вашем офисе, доме или квартире комплекс технических средств, которые отслеживают возникновение опасных ситуаций или незаконное проникновение и отправляют тревожный сигнал на централизованный пульт наблюдения.

            p Мы используем современные приборы и датчики канадского производителя PARADOX, которые прекрасно впишутся в Ваш интерьер. Проводное и беспроводное оборудование, можно устанавливать как до, так и после завершения ремонта в помещении.

            +txt-btn('button', 'btn')
              | Следуюший шаг

          .swiper-slide(data-slide="2")  
            p Наши специалисты устанавливают в Вашем офисе, доме или квартире комплекс технических средств, которые отслеживают возникновение опасных ситуаций или незаконное проникновение и отправляют тревожный сигнал на централизованный пульт наблюдения.
            p Мы используем современные приборы и датчики канадского производителя PARADOX, которые прекрасно впишутся в Ваш интерьер. Проводное и беспроводное оборудование, можно устанавливать как до, так и после завершения ремонта в помещении.

            p Мы используем современные приборы и датчики канадского производителя PARADOX, которые прекрасно впишутся в Ваш интерьер. Проводное и беспроводное оборудование, можно устанавливать как до, так и после завершения ремонта в помещении.

            +txt-btn('button', 'btn')
              | Следуюший шаг

          .swiper-slide(data-slide="3")  
            p Наши специалисты устанавливают в Вашем офисе, доме или квартире комплекс технических средств, которые отслеживают возникновение опасных ситуаций или незаконное проникновение и отправляют тревожный сигнал на централизованный пульт наблюдения.

            p Мы используем современные приборы и датчики канадского производителя PARADOX, которые прекрасно впишутся в Ваш интерьер. Проводное и беспроводное оборудование, можно устанавливать как до, так и после завершения ремонта в помещении.
            p Наши специалисты устанавливают в Вашем офисе, доме или квартире комплекс технических средств, которые отслеживают возникновение опасных ситуаций или незаконное проникновение и отправляют тревожный сигнал на централизованный пульт наблюдения.

            p Мы используем современные приборы и датчики канадского производителя PARADOX, которые прекрасно впишутся в Ваш интерьер. Проводное и беспроводное оборудование, можно устанавливать как до, так и после завершения ремонта в помещении.

            +txt-btn('button', 'btn')
              | Следуюший шаг

          .swiper-slide(data-slide="4")  
            p Наши специалисты устанавливают в Вашем офисе, доме или квартире комплекс технических средств, которые отслеживают возникновение опасных ситуаций или незаконное проникновение и отправляют тревожный сигнал на централизованный пульт наблюдения.

            p Мы используем современные приборы и датчики канадского производителя PARADOX, которые прекрасно впишутся в Ваш интерьер. Проводное и беспроводное оборудование, можно устанавливать как до, так и после завершения ремонта в помещении.

            +txt-btn('button', 'btn')
              | Следуюший шаг            