.how-work  {
  padding-bottom: 260px;
}

.hero-section-dark + .how-work-container {
  margin-top: -160px;
}

.how-work-inner  {
  padding: 98px 137px 83px 101px;
  border-radius: 30px;
  background: #EFEFEF;
  display: flex;
  gap: 66px;
}

.how-work {
  &__img-slider {
    width: 464px;
    min-width: 464px;
  
    img {
      border-radius: 30px;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  
  &__text {
    width: calc(100% - 464px - 66px);
    padding-top: 5px;
  }

  &__actions  {
    display: flex;
    // flex-wrap: wrap;
    // gap: 39px;
    // border-bottom: 1px solid #C4C4C4;
    // width: fit-content;
   
    padding-bottom: 4px;
  }

  &__actions-container {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 40px;
    // width: auto;
    margin-left: 0;
  }

  &__action {
    position: relative;
    color: #000;
    font-family: Russo One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    width: auto;
    // width: fit-content;
    // max-width: fit-content;

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover {
      color: var(--accent);
      opacity: 1;
    }

    &.active {
      color: var(--accent);

      &:after {
        content: "";
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--accent);
      }
    }
  }

  &__text-slider {
    background: #EFEFEF;

    p {
      color: #000;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin: 0;

      & + p {
        margin-top: 30px;
      }
    }

    .btn {
      margin-top: 41px;
    }

  
  }
}

.how-work__img-slider, .how-work__text-slider {
  position: relative;
}

.how-work__img-slider .swiper-slide:not(.active) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}

.how-work__text-slider .swiper-slide.active {
  position: static;
  opacity: 1;
  visibility: visible;
}

.how-work__text-slider .swiper-slide:not(.active) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .7s ease;

  p {
    opacity: 0;
    transition-delay: 1000;
    transition: all .7s ease;
  }

  .btn {
    opacity: 0;
    transition-delay: 1200;
    transition: all .7s ease;
  }
}

.how-work__text-slider .swiper-slide.active {
  position: static;
  opacity: 1;
  visibility: visible;
  transition: all .4s ease;

  p {
    opacity: 1;
   
    transition: all .2s ease;
  }

  .btn {
    opacity: 1;

    transition: all 0s ease;
  }
}

@media (max-width: 1540px) {
  .how-work-inner {
    padding: 90px 60px;
  }
}

@media (max-width: 1440px) {
  .how-work__actions-container {
    width: calc(100% + 60px);
    margin-right: -60px;
    padding-right: 60px;
  }
}

@media (max-width: 1124px) {
  .how-work__img-slider {
    width: 380px;
    min-width: 380px;
  }

  .how-work-inner {
    gap: 60px;
  }

  .how-work__text {
    width: calc(100% - 380px - 60px); 
  }
}

@media (max-width: 1024px) {
  .hero-section-dark + .how-work-container {
    margin-top: -42px;
  }
}

@media (max-width: 980px) {
  .how-work-inner {
    padding: 60px 30px;
  }

  .how-work__actions-container {
    width: calc(100% + 30px);
    margin-right: -30px;
    padding-right: 30px;
  }

  .how-work__img-slider {
    width: 280px;
    min-width: 280px;
  }

  .how-work-inner {
    gap: 30px;
  }

  .how-work__text {
    width: calc(100% - 280px - 30px); 
  }
}

@media (max-width: 768px) {
  .how-work-inner {
    flex-direction: column;
    border-radius: 30px 30px 0 0;
    padding: 0 0 80px 0;
  }

  .how-work__img-slider {
    width: 100%;
    min-width: 100%;
  }

  .how-work__text {
    width: 100%; 
  } 
  
  .how-work-container {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }

  .how-work__text {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .how-work__img-slider img {
    width: 100%;
  }

  .how-work__action {
    font-size: 14px;
    font-weight: 400; 
  }

  .how-work__text-slider p {
    font-size: 16px;
    line-height: 25px;
    max-width: 98%;
  }

  .how-work__text-slider p + p {
    margin-top: 26px;
  }

  .how-work__actions-container {
    margin-bottom: 25px;
  }

  .how-work__actions-container {
    width: calc(100% + 30px);
    max-width: calc(100% + 30px) ;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
  }

  // .how-work__actions-container {
  //   // width: 100%;
  //   // max-width: 100%;
  //   margin-right: 0;
  //   margin-left: 0;
  //   padding-right: 0;
  //   padding-left: 0;
  // }

  .how-work__action:last-child {
    margin-right: 22px;
  }


  .how-work__text-slider .btn {
    margin-top: 24px;
  }

  .how-work__actions {
    // width: 100%;
  }

}