section.clients-section 
  .container 
    .clients-section__content 
      .clients-section__content-title
        h2 
          | > 47 000 
          span клиентов 

        p выбрали компанию «ОТИС» в качестве поставщика услуг охранного мониторинга   


      .clients-section__content-slider-container 
         .clients-section__content-slider.swiper 
          .swiper-wrapper 
            .swiper-slide.client-slide
              img(src="img/clients/vtb.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/r.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/subaru.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/amanat.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/zaimer.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/vtb.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/r.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/subaru.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/amanat.webp", alt="#")
            .swiper-slide.client-slide
              img(src="img/clients/zaimer.webp", alt="#")

          include ../../../../blocks/components/slider-navs/slider-navs