.clients-section {
  background: #f8f8f8;
  padding-top: 135px;
  padding-bottom: 200px;

  &--t2 {
    background: #E7E7E7;
    padding-top: 112px;
    padding-bottom: 73px;
  }

  &__content {
    display: flex;
    column-gap: 39px;
  }

  &__content-title {
    width: 22.8%;

    p {
      margin-top: 22px;
      margin-bottom: 0;
    }
  }

  &__content-slider-container {
    width: calc(100% - 22.8% - 39px);
  }

  &__content-slider {
    margin-top: 4px;
  }
}

.client-slide {
  width: 100%;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px;
}
