section.features-section 
  .container 
    .decision-section__title-container 
      span.subtitle Наши преимущества

      .decision-section__title-row 
        h3.decision-section__title Почему нас выбирают как надежного партнера в сфере безопасности

        p Продуманные решения, безупречный опыт и выдающийся сервис, обеспечивающие ваши потребности в защите и спокойствии


    .features-cards-container.swiper 
      .features-cards.swiper-wrapper 
        <li class="step swiper-slide"> 
          <div class="step__ic">
            img(src="img/svg/clock2.svg", alt="#" width="24" height="24")
          </div>
          <span class="step__text">Быстрое развертывание сети и быстрое реагирование на запросы клиентов</span>
        </li>

        <li class="step swiper-slide"> 
          <div class="step__ic">
            img(src="img/svg/link.svg", alt="#" width="26" height="25")
          </div>
          <span class="step__text">Независимость от телекоммуникационной компании</span>
        </li>

        <li class="step swiper-slide"> 
          <div class="step__ic">
            img(src="img/svg/ambrella.svg", alt="#"  width="21" height="25")
          </div>
          <span class="step__text">Независимость от погодных условий</span>
        </li>

        <li class="step swiper-slide"> 
          <div class="step__ic">
            img(src="img/svg/gear.svg", alt="#" width="25" height="23")
          </div>
          <span class="step__text">Автоматизированное тестирование работы абонентского модуля и сети</span>
        </li>

        <li class="step swiper-slide"> 
          <div class="step__ic">
            img(src="img/svg/map2.svg", alt="#" width="19" height="25")
          </div>
          <span class="step__text">Широкая сеть представительств по всему Казахстану</span>
        </li>