.app-section {
  background-color: var(--dark-bg-1);
  background-image: url('../img/app-section-shape-bg.webp');
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;
  position: relative;

  .shape {
    position: absolute;
  }

  .shape1 {
    right: 1.5%;
    bottom: -10px;
  }

  .shape2 {
    top: -6%;
    left: 2.8%;
  }

  .shape3 {
    left: -14%;
    top: 23.9%;
  }

  .shape4 {
    right: 47.5%;
    top: -9.4%;

    .c {
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -7px;
      right: 17px;

      width: 25.817px;
      height: 21.514px;
      border-radius: 10px;
      background: var(--accent);
      color: #fff;
      font-family: Russo One;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
    }
  }

  .shape5 {
    left: -2.7%;
    /* top: 70.1%; */
    bottom: 22.5%;
    border-radius: 30px;
    background: linear-gradient(135deg, #195043 6.68%, #a8240b 130.37%);
    box-shadow: 0px 50px 50px 0px rgba(154, 40, 16, 0.28);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 153.95px;
    height: 102.885px;

    svg {
      margin-bottom: 15px;
      min-height: 21px;
    }

    span {
      display: block;
      color: #fff;
      text-align: center;
      font-family: Russo One;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
    }

    .typed-cursor {
      display: none;
    }
  }

  .shape6 {
    right: 34%;
    bottom: 52.5%;
    padding: 5px;
    border-radius: 20px;
    background: #f8f8f8;
    box-shadow: 0px 20px 20px 0px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 19px;
    max-width: 255px;
    width: 100%;

    .shape6-txt {
      span {
        display: block;
        color: #000;
        font-family: Russo One;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 7px;
      }

      strong {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #139a7a;
        font-family: Russo One;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 11px;
        transform: translateY(-5px);
      }
    }
  }

  &__inner {
    height: 100%;
  }

  &__content {
    padding-top: 150px;
    padding-bottom: 130px;
  }

  &__title {
    margin-bottom: 52px;
  }

  &__subtitle {
    color: var(--accent);
    font-family: Russo One;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 18px;
    display: block;
  }

  .apps {
    margin-top: 60px;
    gap: 10px;
  }
}

.dot-list {
  max-width: 746px;
  width: 100%;
  column-count: 2;
  column-gap: 20px;

  li {
    padding-left: 26px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: var(--accent);
      top: 8px;
      left: 0;
    }
  }
}
