section.app-section.dark 
  .app-section__inner
    .shape.shape1
      img(src="img/app-section-hand.webp", alt="#" width="734" height="605")


      img(src="img/app-circle-free.webp", alt="#" width="90" height="90").shape.shape2
      img(src="img/app-247.webp", alt="#" width="184" height="199").shape.shape3
      .shape.shape4
        img(src="img/app-ts.webp", alt="#")

        .c +1

      .shape.shape5 
        <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.9789 6.82779L23.7371 5.58606L21.8745 7.44865L20.0119 5.58606L18.7702 6.82779L20.6328 8.69038L18.7702 10.553L20.0119 11.7947L21.8745 9.93211L23.7371 11.7947L24.9789 10.553L23.1163 8.69038L24.9789 6.82779Z" fill="white"/>
          <path d="M9.45725 21.7285C11.8575 21.7285 13.8033 19.7827 13.8033 17.3825C13.8033 14.9822 11.8575 13.0364 9.45725 13.0364C7.057 13.0364 5.1112 14.9822 5.1112 17.3825C5.1112 19.7827 7.057 21.7285 9.45725 21.7285Z" fill="white"/>
          <path d="M8.83639 5.58606C10.208 5.58606 11.3198 4.47417 11.3198 3.1026C11.3198 1.73102 10.208 0.619141 8.83639 0.619141C7.46481 0.619141 6.35293 1.73102 6.35293 3.1026C6.35293 4.47417 7.46481 5.58606 8.83639 5.58606Z" fill="white"/>
          <path d="M16.2868 9.31124C16.9726 9.31124 17.5285 8.7553 17.5285 8.06951C17.5285 7.38373 16.9726 6.82779 16.2868 6.82779C15.601 6.82779 15.045 7.38373 15.045 8.06951C15.045 8.7553 15.601 9.31124 16.2868 9.31124Z" fill="white"/>
          <path d="M12.5616 8.06951C13.2474 8.06951 13.8033 7.51357 13.8033 6.82779C13.8033 6.142 13.2474 5.58606 12.5616 5.58606C11.8758 5.58606 11.3198 6.142 11.3198 6.82779C11.3198 7.51357 11.8758 8.06951 12.5616 8.06951Z" fill="white"/>
          <path d="M3.86947 4.34433C4.55526 4.34433 5.1112 3.78839 5.1112 3.1026C5.1112 2.41681 4.55526 1.86087 3.86947 1.86087C3.18369 1.86087 2.62774 2.41681 2.62774 3.1026C2.62774 3.78839 3.18369 4.34433 3.86947 4.34433Z" fill="white"/>
          <path d="M1.38602 8.06951C2.0718 8.06951 2.62774 7.51357 2.62774 6.82779C2.62774 6.142 2.0718 5.58606 1.38602 5.58606C0.700228 5.58606 0.144287 6.142 0.144287 6.82779C0.144287 7.51357 0.700228 8.06951 1.38602 8.06951Z" fill="white"/>
          <path d="M1.38602 11.7947C2.0718 11.7947 2.62774 11.2388 2.62774 10.553C2.62774 9.86718 2.0718 9.31124 1.38602 9.31124C0.700228 9.31124 0.144287 9.86718 0.144287 10.553C0.144287 11.2388 0.700228 11.7947 1.38602 11.7947Z" fill="white"/>
          <path d="M3.86947 15.5199C4.55526 15.5199 5.1112 14.9639 5.1112 14.2782C5.1112 13.5924 4.55526 13.0364 3.86947 13.0364C3.18369 13.0364 2.62774 13.5924 2.62774 14.2782C2.62774 14.9639 3.18369 15.5199 3.86947 15.5199Z" fill="white"/>
        </svg> 
        span.typed(data-string="Техник будет у вас через 10 минут") 

      .shape.shape6 
        img(src="img/app-hause.webp", alt="#")  

        .shape6-txt
          span Дом Новослободская 
          strong
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.74726 1.5792C9.85799 1.5125 9.99025 1.49129 10.1163 1.52C10.2423 1.54871 10.3523 1.62512 10.4233 1.7332L10.9183 2.4882C10.9829 2.58687 11.0106 2.70523 10.9964 2.82235C10.9822 2.93947 10.9271 3.04781 10.8408 3.1282L10.8393 3.1302L10.8038 3.1632L10.6913 3.2707C10.0687 3.87449 9.46513 4.49746 8.88126 5.1387C7.78276 6.34669 6.47826 7.9277 5.60026 9.4617C5.35526 9.8897 4.75676 9.9817 4.40176 9.6122L1.15926 6.2432C1.11279 6.1949 1.07651 6.13775 1.05256 6.07515C1.02862 6.01255 1.01751 5.94577 1.01989 5.87879C1.02227 5.81181 1.03809 5.74599 1.06641 5.68525C1.09473 5.62451 1.13498 5.57008 1.18476 5.5252L2.16476 4.6412C2.25088 4.56355 2.36131 4.51825 2.47714 4.51305C2.59298 4.50785 2.70703 4.54308 2.79976 4.6127L4.45426 5.8532C7.03826 3.3047 8.50426 2.3267 9.74726 1.5792Z" fill="#139A7A"/>
            </svg>  
            | Защищено
      

    .container.app-section__content 
      
      h2.app-section__title Мобильное приложение<br> «ОТИС.kz»
      span.app-section__subtitle Только для клиентов Компании «ОТИС»
      ul.dot-list 
        li Список объектов и их состояние 
        li Лента событий: тревоги, снятие и постановка объекта на охрану
        li  Текущий баланс
        li Отправка финансовых документов на e-mail
        li Формирование счета для оплаты
        li Список доверенных лиц
        li Быстрые заявки на вызов техника и доблокировку объекта 

      .apps 
          a(href="#" aria-label="AppStore")
            img(src="img/svg/appstore.svg", alt="#" width="189" height="54") 

          a(href="#" aria-label="GooglePlay")
            img(src="img/svg/googleplay.svg", alt="#" width="189" height="54")  

      