section.app-section.dark 
  .app-section__inner
    .container.app-section__content 
      span.app-section__subtitle Только для клиентов Компании «ОТИС»

      h2.app-section__title Мобильное приложение<br> «ОТИС.kz»

      ul.dot-list 
        li Список объектов и их состояние 
        li Лента событий: тревоги, снятие и постановка объекта на охрану
        li  Текущий баланс
        li Отправка финансовых документов на e-mail
        li Формирование счета для оплаты
        li Список доверенных лиц
        li Быстрые заявки на вызов техника и доблокировку объекта 

      .apps 
          a(href="#" aria-label="AppStore")
            img(src="img/svg/appstore.svg", alt="#" width="189" height="54") 

          a(href="#" aria-label="GooglePlay")
            img(src="img/svg/googleplay.svg", alt="#" width="189" height="54")  

      