include ../../../components/filled-btn/filled-btn

section.hero-section.dark 
 
    .hero-section__slider.swiper
      .swiper-wrapper 
        .swiper-slide.hero-slide
          img(src="img/spycamera.webp", alt="#").shape.shape1
          img(src="img/hause.webp", alt="#").shape.shape2
          img(src="img/hand.webp", alt="#").shape.shape3


          .container 
            .hero-slide__content
              h1.hero-slide__title Охраняем <span>дома</span><br> более 20 лет


              .block-counts 
                .clock-count 
                  .clock-count__ic 
                    img(src="img/svg/hause.svg", alt="#" width="20" height="22")

                  .clock-count__text
                    strong 
                      small(data-num="45892063") 0
                    span обьектов подключено

                .clock-count 
                  .clock-count__ic 
                    img(src="img/svg/clock.svg", alt="#" width="23" height="23")

                  .clock-count__text
                    strong 
                      small(data-num="5.47")#n 0 
                      |  мин. 
                    span скорость прибытия 


              +filled-btn('accent accent-shadow', 'button', true)
                | Получить консультацию

        .swiper-slide.hero-slide
          img(src="img/spycamera.webp", alt="#").shape.shape1
          img(src="img/hause.webp", alt="#").shape.shape2
          img(src="img/hand.webp", alt="#").shape.shape3

          .container 
            .hero-slide__content
              h1.hero-slide__title Охраняем <span>дома</span><br> более 20 лет


              .block-counts 
                .clock-count 
                  .clock-count__ic 
                    img(src="img/svg/hause.svg", alt="#" width="20" height="22")

                  .clock-count__text
                    strong 
                      small(data-num="45892063") 0
                    span обьектов подключено

                .clock-count 
                  .clock-count__ic 
                    img(src="img/svg/clock.svg", alt="#" width="23" height="23")

                  .clock-count__text
                    strong 
                      small(data-num="5.47")#n 0 
                      |  мин. 
                    span скорость прибытия 


              +filled-btn('accent accent-shadow', 'button', true)
                | Получить консультацию

        .swiper-slide.hero-slide 
          img(src="img/spycamera.webp", alt="#").shape.shape1
          img(src="img/hause.webp", alt="#").shape.shape2
          img(src="img/hand.webp", alt="#").shape.shape3


          .container 
            .hero-slide__content
              h1.hero-slide__title Охраняем <span>дома</span><br> более 20 лет


              .block-counts 
                .clock-count 
                  .clock-count__ic 
                    img(src="img/svg/hause.svg", alt="#" width="20" height="22")

                  .clock-count__text
                    strong 
                      small(data-num="45892063") 0
                    span обьектов подключено

                .clock-count 
                  .clock-count__ic 
                    img(src="img/svg/clock.svg", alt="#" width="23" height="23")

                  .clock-count__text
                    strong 
                      small(data-num="5.47")#n 0 
                      |  мин. 
                    span скорость прибытия 


              +filled-btn('accent accent-shadow', 'button', true)
                | Получить консультацию
      
      .hero-pagination.swiper-pagination