include ../../../components/back-row/back-row

section.hero-section.hero-section__about.dark

    +back-row("/")
      | На главную

    .hero-section__slider.hero-section__slider__about
        .hero-slide
          .container 
            .hero-slide__content
              h1.hero-slide__title «ОТИС» на страже вашей безопасности с августа 1997 года

            
              .man-block 
                .man-block__img 
                  img(src="img/men.webp", alt="#" width="175" height="175")

                .man-block__txt
                  p «Мы стремимся к надежности, инновациям и безопасности каждого клиента, и именно эти ценности вдохновляют нас работать для вас.»
                  .man-block__author
                    .man-block__img-mob 
                      img(src="img/men.webp", alt="#" width="64.109" height="64.109")
                    strong Иван Иванов<br> основатель и генеральный директор ОТИС