.hero-section {
  background-color: var(--dark-bg-1);
  background-image: url('../img/hero-section-bg.webp');
  background-position: top -70px right 0;
  background-size: cover;
  background-repeat: no-repeat;

  &__about {
    background-image: url('../img/about-hero-bg.webp'); 
     background-position: top 0 right 0;
     background-color: var(--accent);

     .hero-slide__title {
      font-family: Montserrat; 
      font-weight: 700;
     }
   

     .back-btn {
      color: #fff;

      svg path {
        stroke: #fff;
      }

      &:hover {
        color: #000;

      svg path {
        stroke: #000;
      }

      }
     }

     .hero-slide__content {
      max-width: 1400px;
     }

     .hero-slide  {
        min-height: 885px;
        padding-bottom: 295px;
     }

     & + .stats-section {
      margin-top: -229px;
     }
  }
}



.locator {
  position: absolute;
  top: 0;
  right: 0;
}

.hero-section__slider--t2 .hero-slide  {
  min-height: 645px;
  padding-bottom: 193px;

  .hero-slide__title {
    margin-bottom: 57px;
  }

  .shape2 {
    top: 22.3%;
    right: 21.1%;
  }
  
  .shape3 {
    bottom: -13.5%;
    right: 1%;
  }
}

.hero-slide {
  padding-top: 184px;
  padding-bottom: 361px;
  background-position: top 15px right 0;
  background-repeat: no-repeat;
  min-height: 930px;

  .filled-btn {
    padding: 17px 33px 17px;
  }

  &__title {
    margin-bottom: 64px;

    span {
      color: var(--accent);
    }
  }

  &__content {
    max-width: 778px;
    position: relative;
    z-index: 2;
  }
}

.block-counts {
  display: grid;
  grid-template-columns: repeat(2, 284px);
  column-gap: 46px;
  margin-bottom: 50px;
  width: fit-content;
}

.clock-count {
  display: flex;
  align-items: center;
  gap: 25px;

  &__ic {
    width: 55px;
    min-width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2f;
    border-radius: 50%;
  }

  &__text strong {
    display: block;
    font-family: Russo One;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 6px;
  }

  &__text span {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  small {
    font-size: 100%;
    white-space: nowrap;
  }
}

.hero-pagination {
  position: absolute;
  top: 50% !important;
  bottom: auto !important;
  right: 47px !important;
  left: auto !important;
  transform: translateY(-50%) !important;
  width: fit-content !important;
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .swiper-pagination-bullet {
    margin: 0 !important;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #454547 !important;
    opacity: 1 !important;

    &.swiper-pagination-bullet-active {
      background-color: #fff !important;
    }
  }
}

.hero-slide {
  .shape {
    position: absolute;
    opacity: 0;
  }

  .shape1 {
    top: 13px;
    transform: rotate(-0.214deg);
    right: 35.2%;
    z-index: 1;
  }

  .shape2 {
    top: 19.3%;
    right: 18.8%;
    z-index: 1;
  }

  .shape3 {
    bottom: 13.5%;
    right: 1%;
    z-index: 2;
  }
}

.man-block  {
  display: flex;
  gap: 50px;
  max-width: 828px;
  align-items: center;

  &__img  {
    width: 175px;
    min-width: 175px;
  }

  &__txt {
    transform: translateY(-5px);

    p {
      display: block;
      color: #FFF;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px; 
      margin-bottom: 15px;
      margin-top: 0;
    }

    strong {
      display: block;
      color: #FFF;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }
  }
}