.txt-link {
  font-family: Russo One;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: var(--accent);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
