.txt-link {
  font-family: Russo One;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: var(--accent);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;

  &.down svg {
    transform: rotate(90deg);
  }

  &:hover {
    color: #EF7F1A;
    opacity: 1;

    svg path {
      stroke: #EF7F1A;
    }
  }

  &:active {
    color: #FE8000;
    opacity: 1;

    svg path {
      stroke: #FE8000;
    }
  }

  &:disabled {
    order: 1px solid #A1A1A1;
    color: #A1A1A1;
    pointer-events: none;
  }
}
