include ../brd-btn/brd-btn

mixin accordionItem(title, dop, cls)
  .accordion-item 
    .accordion-item__head=title

      span=dop
      .arr 
        <svg width="12" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.26929 1.73047V10.269M5.26929 10.269L9.53857 5.99976M5.26929 10.269L1 5.99976" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> 

    .accordion-item__body-container
      .accordion-item__body
        strong Обязанности

        ul
          li Монтажные работы пожарно-охранной сигнализации;
          li Установка оборудования;
          li Обеспечение бесперебойной работоспособности оборудования ОПС;
          li Проведение ППР, монтаж ОПС;
          li Принимать эксплуатацию средства ОПС на объектах;
          li Контролировать выполнения заявок;
          li Проводить на объектах регулярный технический осмотр средств сигнализации, составлять акты ТО;
          li Проводить ежедневный просмотр и анализ тревожной событий с составлением отчета по количеству тревог в день сдачи охраняемого объекта.

        strong Требования

        ul
          li Высшее или средне-специальное образование;
          li Стаж работы в сфере обслуживания систем охранно-пожарной сигнализации, охранно-тревожной сигнализации и видеонаблюдения ПРИВЕТСТВУЕТСЯ и ВАЖНО! Мы рассматриваем резюме кандидатов без опыта работы, но с большим желанием овладеть новой специальностью;
          li Владеть знаниями эксплуатации электронного и электро-технического оборудования;
          li Быть серьезным и ответственным

        .accordion-item__body-footer
          <a class="tel" href="tel: +7 (727) 2 58 11 55">
            <div class="ic">
              <img src="img/svg/tel.svg" alt="#" width="13" height="13">
            </div>
            <span>
              | +7 (727) 2 58 11 55
              small г.Алматы, ул. Панфилова, 101 
            </span>
          </a>


          +brd-btn
            | Отправить резюме