section.about-section.dark 
  .container 
    .about-section__inner 
      h3.about-section__title ОТИС является лидером в сфере установки и обслуживания систем безопасности на территории Казахстана

      .about-section__descr-row 
        img(src="img/camera.webp", alt="#" width="461" height="102")

        p Мы гордимся тем, что обеспечиваем безопасность, используя передовые технологии и профессиональный подход в каждом проекте. Наш опыт, надежность и приверженность качеству делают нас надежным партнером в области безопасности для наших клиентов. Мы готовы продолжать служить нашей стране и обеспечивать ее безопасность в течение многих лет.


      .reward-row 
        .reward-row__text 
          h3.reward-row__title 5 наград 
            span лидера отрасли 

          p ОТИС заслужнно признана лучшей компанией последнего десятилетия в сфере безопасности   


        .reward-row__images 
          img(src="img/revards/1.webp", alt="#" width="109" height="111")
          img(src="img/revards/2.webp", alt="#" width="109" height="111")  
          img(src="img/revards/3.webp", alt="#" width="80" height="111")  
          img(src="img/revards/4.webp", alt="#" width="80" height="111")  
          img(src="img/revards/5.webp", alt="#" width="81" height="111")  