.about-section {
  &__inner {
    padding: 85px 134px 86px 100px;
    border-radius: 30px;
    background: linear-gradient(0deg, #2e2e2f 0%, #2e2e2f 100%),
      linear-gradient(120deg, #151515 44%, #3a3a3a 103.07%);
  }

  &__title {
    margin-bottom: 68px;
  }

  &__descr-row {
    display: grid;
    column-gap: 75px;
    grid-template-columns: 36.33% calc(100% - 36.33% - 75px);
    margin-bottom: 71px;
    align-items: center;

    p {
      margin: 0;
    }
  }
}

.reward-row {
  display: grid;
  column-gap: 75px;
  grid-template-columns: 36.33% calc(100% - 36.33% - 75px);

  &__title {
    margin-bottom: 5px;

    span {
      color: var(--accent);
    }
  }

  p {
    margin: 0;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 42px;
  }
}
