@import 'nice-select/nice-select.scss';
@import 'tel/tel.scss';
@import 'mail/mail.scss';
@import 'brd-btn/brd-btn.scss';
@import 'brd-link/brd-link.scss';
@import 'input/input.scss';
@import 'filled-btn/filled-btn.scss';
@import 'slider-navs/slider-navs.scss';
@import 'txt-btn/txt-btn.scss';
@import 'txt-link/txt-link.scss';
@import 'back-row/back-row.scss';
@import 'checkbox/checkbox.scss';
@import 'tip/tip.scss';
