include ../../../components/filled-btn/filled-btn

.equipment-page-module
  .tab-actions 
    a(href="#").tab-action.active  Все
    a(href="#").tab-action  Контрольные панели 
    a(href="#").tab-action  Охранные датчики
    a(href="#").tab-action Система "Умный дом"
    a(href="#").tab-action  Видеонаблюдение


  ul.products-grid 
    li
      a(href="#STEMAX-RX410" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/1.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong STEMAX RX410


    li
      a(href="#STEMAX-SX410" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/2.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong STEMAX SX410

    li
      a(href="#Бокс AWO для панели MG-5007680" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/3.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Охранные датчики

          strong Бокс AWO для панели MG-5007680

    li
      a(href="#Контрольная панель SP-6000 " aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/4.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong Контрольная панель SP-6000   


    li
      a(href="#Бокс AWO для панели MG-5007680" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/3.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Охранные датчики

          strong Бокс AWO для панели MG-5007680

    li
      a(href="#Контрольная панель SP-6000 " aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/4.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong Контрольная панель SP-6000     

    li
      a(href="#STEMAX-RX410" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/1.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong STEMAX RX410


    li
      a(href="#STEMAX-SX410" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/2.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong STEMAX SX410

      
    li
      a(href="#STEMAX-RX410" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/1.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong STEMAX RX410


    li
      a(href="#STEMAX-SX410" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/2.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong STEMAX SX410

    li
      a(href="#Бокс AWO для панели MG-5007680" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/3.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Охранные датчики

          strong Бокс AWO для панели MG-5007680

    li
      a(href="#Контрольная панель SP-6000 " aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/4.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong Контрольная панель SP-6000   


    li
      a(href="#Бокс AWO для панели MG-5007680" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/3.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Охранные датчики

          strong Бокс AWO для панели MG-5007680

    li
      a(href="#Контрольная панель SP-6000 " aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/4.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong Контрольная панель SP-6000     

    li
      a(href="#STEMAX-RX410" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/1.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong STEMAX RX410


    li
      a(href="#STEMAX-SX410" aria-label="Product title" data-trigger-modal="product").product-card
        img(src="img/products/2.webp", alt="#" width="" height="").product-card__img

        .product-card__txt
          .lbl Контрольные панели

          strong STEMAX SX410


  +filled-btn('accent accent-shadow btn', 'button')
      | Показать все 1230м отзывов      