.filled-page {
  background-color: var(--dark-bg-1);
  padding-top: 182px;
  padding-bottom: 271px;

  &.gray {
    background: #EFEFEF; 

    .back-btn {
      color: var(--accent);
  
      svg path {
        stroke: var(--accent);
      }

      &:hover {
        color: #000;
  
        svg path {
          stroke: #000;
        }
      }
    }
  }

  .back-btn {
    color: var(--accent);

    svg path {
      stroke: var(--accent);
    }
  }

  &__title {
    font-family: Montserrat; 
    font-weight: 700;
  }
}


@media (max-width: 768px) {

  .filled-page {
    padding-top: 120px;
    padding-bottom: 162px;
  }

  .filled-page__title {
    font-family: Russo One;
    font-weight: 400; 
  }


}