.logo img {
  display: block;
  max-width: 100%;
}

.main-footer {
  background-color: var(--dark-bg-2);
  padding-bottom: 130px;

  position: relative;
  z-index: 2;

  .container {
    position: relative;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 60px;
    padding-top: 244px;

    .logo {
      margin-bottom: 24px;
    }

    .tel {
      margin-bottom: 19px;
      font-size: 18px;

      span {
        font-family: Russo One;
        font-weight: 400;
      }
    }

    .col:first-child {
      display: flex;
      flex-direction: column;
    }
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 10px;
  max-width: 140px;
  margin-top: 118px;
}

.soc {
  width: 37px;
  height: 37px;
  min-width: 37px;
  border-radius: 50%;
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps {
  margin-top: 43px;
  display: flex;
  gap: 6.4px;
}

.copyright {
  margin-top: 20px;

  span {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }

  a {
    display: block;
    color: var(--accent);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-top: 7px;
  }
}

.menu-list {
  margin-top: -8px;

  &__collapse {
    display: none;
  }

  &__head {
    margin-bottom: 30px;

    a {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      color: inherit;
      text-decoration: none;

      &.fat {
        font-family: Russo One;
        font-size: 18px;
      }
    }
  }

  li + li {
    margin-top: 22px;
  }

  li a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: inherit;
    text-decoration: none;

    &.fat {
      font-family: Russo One;
      font-size: 18px;
    }
  }
}

.main-cats {
  padding-top: 7px;
}


.col-mob {
  display: none;
}

@media (max-width: 1125px) {
  .col-desctop {
    display: none;
  }

  .col-mob {
    display: block
  }

  .main-footer__content {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: none;
  }

  .col-contacts {
    width: 100%;
  }

  .col-contacts .socials {
    margin-top: 0;
    max-width: 100%;
  }
}


@media (max-width: 768px) {
  .main-footer {
    padding-bottom: 60px;

    .logo  {
      max-width: 114px;
      margin-bottom: 16px;
    }
  }

  .main-footer__content {
    flex-direction: column;
    padding-top: 226px;
    gap: 0;
  }

  .main-footer__content .tel {
    margin-bottom: 9px;
  }

  .main-cats {
    border-top: 1px solid #434345;
    border-bottom: 1px solid #434345;
  }

  .col-contacts.col-mob {
    border-top: 1px solid #434345;
    padding-top: 30px;
    margin-top: 40px;
  }

  .main-footer__content .tel {
    gap: 16px;

    span {
      font-size: 14px;
    }
  }

  .main-footer__content .mail {
    gap: 16px;
  }

  .menu-list li a.fat, .menu-list__head a.fat {
    font-size: 16px;
  }

  .main-cats {
    padding-top: 39px;
    padding-bottom: 33px;
    margin-bottom: 29px;

    .menu-list {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 40px;

      li + li {
        margin-top: 0;
      }
    }
  }

  .menu-list__head  .menu-list__collapse {
    display: flex;
    width: 28px;
    min-width: 28px;
    height: 28px;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    background: none;
    transform: rotate(180deg);
  }

  .col.active .menu-list__collapse {
    transform: rotate(0);
  }

  .menu-list li + li {
    margin-top: 12px;
  }

  .menu-list__head {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    & + .menu-list li:first-child {
      padding-top: 20px;
    }
  }

  .main-footer__content .col:first-child {
    margin-bottom: 36px;
  }

  .another-cats + .another-cats {
    margin-top: 18px;
  }

  .another-cats .menu-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
  }

  .main-footer__content .apps {
    margin-top: 23px;

    img {
      border-radius: 10px;
    }
  }

  .copyright {
    margin-top: 8px;

    a {
      margin-top: -4px;
    }
  }

}