footer.main-footer.dark 
  .container 
    .main-footer__content 
      .col 
        a(href="/" ).logo 
          img(src="img/svg/logo.svg" width="139" height="27" , alt="Отис логотип") 
        
        include ../../components/tel/tel 
        include ../../components/mail/mail

        ul.socials
          li 
            a(href="#" aria-label="Instagram" title='Instagram').soc
              img(src="img/svg/inst.svg", alt="Instagram icon")
          li 
            a(href="#" aria-label="VK" title='VK').soc
              img(src="img/svg/vk.svg", alt="VK icon")
          li 
            a(href="#" aria-label="Viber" title='Viber').soc
              img(src="img/svg/viber.svg", alt="Viber icon")
          li 
            a(href="#" aria-label="Facebook" title='Facebook').soc
              img(src="img/svg/fb.svg", alt="Facebook icon")

          li 
            a(href="#" aria-label="Twitter" title='Twitter').soc
              img(src="img/svg/tw.svg", alt="Twitter icon")              

        .apps 
          a(href="#" aria-label="AppStore")
            img(src="img/svg/appstore.svg", alt="#") 

          a(href="#" aria-label="GooglePlay")
            img(src="img/svg/googleplay.svg", alt="#")  


        .copyright 
          span © 2019 Все права защищены
          a(href="#") Разрабокта сайта
               


      .col 
        ul.list
          li 
            a(href="#").fat  Для квартир 
          li 
            a(href="#").fat Для домов 
          li 
            a(href="#").fat Для бизнеса
          li 
            a(href="#").fat Оплата

      .col 
        ul.list
          li 
            a(href="#").fat  Компания 
          li 
            a(href="#") Как работает система
          li 
            a(href="#")  Служба контроля качества
          li 
            a(href="#")  Приложение ОТИС личный кабинет
          li 
            a(href="#")  Инструкции пользователя
          li 
            a(href="#")  Справочник абонента
          li 
            a(href="#")  Памятка по оплате
          li 
            a(href="#")  Вопросы и ответы
          li 
            a(href="#")  Статьи
          li 
            a(href="#")  Договор публичной оферты


      .col
        ul.list
          li 
            a(href="#").fat  Клиентам 
          li 
            a(href="#") Как работает система
          li 
            a(href="#")  Служба контроля качества
          li 
            a(href="#")  Приложение ОТИС личный кабинет
          li 
            a(href="#")  Инструкции пользователя
          li 
            a(href="#")  Справочник абонента
          li 
            a(href="#")  Памятка по оплате
          li 
            a(href="#")  Вопросы и ответы
          li 
            a(href="#")  Статьи
          li 
            a(href="#")  Договор публичной оферты

      .col
        ul.list
          li 
            a(href="#").fat  Другое
          li 
            a(href="#") Aкции
          li 
            a(href="#")  Партнерам
          li 
            a(href="#")  Оборудование
          li 
            a(href="#")  Трудовые догворы
                