.approach-section {
  padding-top: 82px;
  position: relative;
  z-index: 1;
  margin-bottom: -125px;
}

.approach-section__title {
  margin-bottom: 80px;
}

.approach-section__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;
}

.accent-text-card {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 26px 30px 42px ;
  border-radius: 30px;
  background: var(--accent); 

  &:hover {
    opacity: 1;
  }

  * {
    text-decoration: none;
  }

  &__num {
    width: 37px;
    min-width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    margin-bottom: 41px; 
    color: #FFF;
    font-family: Russo One;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; 
    border-radius: 50%;
  }

  &__title {
    display: block;
    font-family: Russo One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #000;
    margin-bottom: 21px;
  }

  &__text {
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #000;

    span {
      color: #fff;
      font-weight: 700; 
    }
  }
}