section.approach-section.container 
  h2.approach-section__title.h3 Наш подход к работе в чрезвычайной ситуации, чтобы гарантировать наивысший уровень защиты вашей квартиры

  ul.approach-section__grid
    li
      a(href="#").accent-text-card
        .accent-text-card__num 1

        strong.accent-text-card__title Датчик фиксирует проникновение и передает сигнал тревоги и фото нарушителя на станцию мониторинга

        span.accent-text-card__text Мы используем <span>собственный радиоканал связи</span>, который обеспечивает гарантированную передачу сигнала 24/7

    li
      a(href="#").accent-text-card
        .accent-text-card__num 2

        strong.accent-text-card__title Оператор анализирует причину тревоги и вызывает группу реагирования

        span.accent-text-card__text Наш пульт наблюдения <span>энергонезависим</span> и при перебоях энергии полностью автономен

    li
      a(href="#").accent-text-card
        .accent-text-card__num 3

        strong.accent-text-card__title Ближайший экипаж реагирования незамедлительно выезжает по вашему адресу

        span.accent-text-card__text Выделенные группы во всех городах Казахстана. Количество выездов <span>неограничено</span>

    li
      a(href="#").accent-text-card
        .accent-text-card__num 4

        strong.accent-text-card__title Вы получаете уведомление, и оператор информирует вас о ситуации

        span.accent-text-card__text Охрана <span>заблокирует входы</span> в случае взлома и удержит злоумышленников до приезда полиции. При необходимости, оператор связывается с пожарной охраной или скорой помощью           