include ../../../components/filled-btn/filled-btn

.reviews-module.container 
  ul.reviews-module__grid 
    li.company-slide
      .company-slide__img
        img(src="img/reviews/1.webp", alt="#" width="107" height="148")
        strong.m ТОО "INTERTEACH"

      .company-slide__text
        strong ТОО "INTERTEACH"
        p Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара
  
    li.company-slide
      .company-slide__img
        img(src="img/reviews/2.webp", alt="#" width="107" height="148")
        strong.m ТОО "Займер"

      .company-slide__text
        strong ТОО "Займер"
        p В действиях охранной службы мы ценим прежде всего хороший уровень подготовки, ответственное отношение к обязанностям, умение правильно оценивать обстановку и незамедлительно реагировать на возникшие угрозы

    li.company-slide
      .company-slide__img
        img(src="img/reviews/3.webp", alt="#" width="107" height="148")
        strong.m ТОО "INTERTEACH"

      .company-slide__text
        strong ТОО "INTERTEACH"
        p  Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара    

    li.company-slide
      .company-slide__img
        img(src="img/reviews/1.webp", alt="#" width="107" height="148")
        strong.m ТОО "INTERTEACH"

      .company-slide__text
        strong ТОО "INTERTEACH"
        p Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара
  
    li.company-slide
      .company-slide__img
        img(src="img/reviews/2.webp", alt="#" width="107" height="148")
        strong.m ТОО "Займер"

      .company-slide__text
        strong ТОО "Займер"
        p В действиях охранной службы мы ценим прежде всего хороший уровень подготовки, ответственное отношение к обязанностям, умение правильно оценивать обстановку и незамедлительно реагировать на возникшие угрозы

    li.company-slide
      .company-slide__img
        img(src="img/reviews/3.webp", alt="#" width="107" height="148")
        strong.m ТОО "INTERTEACH"

      .company-slide__text
        strong ТОО "INTERTEACH"
        p  Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара    

    li.company-slide
      .company-slide__img
        img(src="img/reviews/1.webp", alt="#" width="107" height="148")
        strong.m ТОО "INTERTEACH"

      .company-slide__text
        strong ТОО "INTERTEACH"
        p Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара
  
    li.company-slide
      .company-slide__img
        img(src="img/reviews/2.webp", alt="#" width="107" height="148")
        strong.m ОО "Займер"

      .company-slide__text
        strong ТОО "Займер"
        p В действиях охранной службы мы ценим прежде всего хороший уровень подготовки, ответственное отношение к обязанностям, умение правильно оценивать обстановку и незамедлительно реагировать на возникшие угрозы

    li.company-slide
      .company-slide__img
        img(src="img/reviews/3.webp", alt="#" width="107" height="148")
        strong.m ТОО "INTERTEACH"

      .company-slide__text
        strong ТОО "INTERTEACH"
        p  Благодаря вашим сотрудникам наша организация избегает различного рада негативных последствий, не только таких как кражи, проникновение на территорию посторонних лиц, но и возникновение пожара    



  +filled-btn('accent accent-shadow btn', 'button')
    | Показать все 1230 отзывов 
