include ../../../components/txt-link/txt-link

section.latest-news.latest-news--t2
  .container 
    span.subtitle Следите за последними новостями и инновациями от ОТИС
    h3.latest-news__title Обновления в мире безопасности, события компании и актуальные технологические разработки для вашей защиты


    ul.latest-news__grid
      li
        a(href="#" style="background-image: url(img/news.webp)").news-tile
          h5.news-tile__title Изменение стоимости абонентской платы для юридических лиц с 1 февраля 2023 г.

          .news-tile__footer 
            span 29 марта 2023

            .arr 
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

      li
        a(href="#" style="background-image: url(img/news.webp)").news-tile
          h5.news-tile__title Теперь вы можете оформить Kaspi Red или Kaspi Kredit! 

          .news-tile__footer 
            span 29 марта 2023

            .arr 
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

      li
        a(href="#" style="background-image: url(img/news.webp)").news-tile
          h5.news-tile__title Режим работы офисов ОТИС в новогодние праздники, с 25 декабря по 7 января

          .news-tile__footer 
            span 29 марта 2023

            .arr 
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>


      li
        a(href="#" style="background-image: url(img/news.webp)").news-tile
          h5.news-tile__title Теперь вы можете оформить Kaspi Red или Kaspi Kredit! 

          .news-tile__footer 
            span 29 марта 2023

            .arr 
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.99976H9.53857M9.53857 5.99976L5.26929 1.73047M9.53857 5.99976L5.26929 10.269" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>  

    +txt-link('/news.html', 'btn')
          | Все новости                      