.latest-news {
  padding-top: 246px;
  padding-bottom: 126px;
  background-color: #fff;

  &__title {
    margin-bottom: 80px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.news-tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 23px 26px 22px 32px;
  border-radius: 30px;
  background: #efefef;
  min-height: 210px;
  text-decoration: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &:not(:hover) {
    background-image: none !important;
  }

  * {
    transition: all 0.2s ease;
  }

  &__title {
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: #2e2e2f;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      text-decoration: none;
    }

    .arr {
      width: 28px;
      height: 28px;
      border: 2px solid #000;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  &:hover {
    opacity: 1;

    .news-tile__title,
    .news-tile__footer span {
      color: #fff;
    }

    .arr {
      border-color: #fff;

      svg path {
        stroke: #fff;
      }
    }
  }
}
