include ../../components/back-row/back-row

section(class="shares-hero-section dark")
  .shape1.shape 
    img(src="img/yellow-circ.webp", alt="#" width="650" height="650")
    img(src="img/present.webp", alt="#" width="551" height="526").shape2.shape 

  .container
    +back-row("/")
      | На главную

    h1.shares-hero-section__title Акции

    p.shares-hero-section__descr Мы ценим ваше доверие и преданность, поэтому рады предложить вам наши эксклюзивные акции и программы лояльности. В ОТИС, мы всегда стремимся делать безопасность доступной и удобной, и наши акции специально разработаны, чтобы предоставить вам уникальную возможность получить высококачественные системы безопасности по выгодным ценам.