.single-news-container.container 
  .single-news-content
    aside.single-news-content__info
      .sticky-box 
        span.time 29 марта 2023
        strong Поделиться

        <ul class="socials">
          <li> <a class="soc" href="#" aria-label="Instagram" title="Instagram"><img src="img/svg/inst.svg" alt="Instagram icon" width="16" height="15"></a></li>
          <li> <a class="soc" href="#" aria-label="VK" title="VK"><img src="img/svg/vk.svg" alt="VK icon" width="17" height="11"></a></li>
          <li> <a class="soc" href="#" aria-label="Viber" title="Viber"><img src="img/svg/viber.svg" alt="Viber icon" width="16" height="16"></a></li>
          <li> <a class="soc" href="#" aria-label="Facebook" title="Facebook"><img src="img/svg/fb.svg" alt="Facebook icon" width="9" height="16"></a></li>
          <li> <a class="soc" href="#" aria-label="Twitter" title="Twitter"><img src="img/svg/tw.svg" alt="Twitter icon" width="16" height="13"></a></li>
          <li> <a class="soc" href="#" aria-label="Однокласники" title="Однокласники"><img src="img/svg/ok.svg" alt="Ок icon" width="10" height="16"></a></li>
        </ul>

    .single-news-content__main
      .single-news-content__main-inner
        p ТОО «ОТИС» выражает Вам благодарность и признательность за сотрудничество и желает динамичного развития, успехов и новых вершин в бизнесе. С 010 года мы держали стоимость абонентской платы без изменений, однако в связи с растущей инфляцией это стало нерентабельно для Компании.
        h2 В целях поддержания качества предоставляемых услуг сообщаем Вам, об изменении стоимости абонентской платы для юридических лиц с «01» февраля 2023 года.
        p Дополнительно напоминаем, что согласно условиям заключенного договора, тарифы и суммы оплаты за услуги могут быть изменены без составления дополнительных приложений к текущему договору.

        p Мы верим в сохранение сложившихся деловых и дружеских отношений, надеемся на дальнейшее взаимовыгодное сотрудничество.