body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  background: #F8F8F8; 
}

main {
  flex: 1;
}

ul {
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --accent: #fe8000;
  --accent-trs: rgba(239, 127, 26, 0.31);
  --text: #000;

  --darken-bg: #0f0f0f;
  --dark-bg-1: #232323;
  --dark-bg-2: #2e2e2f;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One';
  font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Russo One';
  font-weight: 400;
}

h1,
.h1 {
  font-size: 70px;
  line-height: 80px;
}

h2,
.h2 {
  font-size: 60px;
  line-height: 70px;

  span {
    display: block;
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    margin-top: 5px;
  }
}

h3,
.h3 {
  font-size: 35px;
  line-height: 50px;
}

h4,
.h4 {
  font-size: 30px;
  line-height: 50px;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 23px;
}


@media (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 45px;
    line-height: 55px;
  }

  h2,
  .h2 {
    font-size: 35px;
    line-height: 45px;

    span {
      display: block;
      font-size: 35px;
      font-weight: 400;
      line-height: 45px;
      margin-top: 5px;
    }
  }

  h3,
  .h3 {
    font-size: 25px;
    line-height: 40px;
  }

  h4,
  .h4 {
    font-size: 20px;
    line-height: 40px;
  }

  h5,
  .h5 {
    font-size: 18px;
    line-height: 23px;
  }
}


@media (max-width: 1024px) {
  h1,
  .h1 {
   font-size: 30px;
    line-height: 40px; 
  }

  h2,
  .h2 {
    font-size: 25px;
    line-height: 30px;

    span {
      display: block;
      font-size: 25px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 5px;
    }
  }

  h3,
  .h3 {
    font-size: 20px;
    line-height: 25px;
  }

  h4,
  .h4 {
    font-size: 18px;
    line-height: 24px;
  }

  h5,
  .h5 {
    font-size: 18px;
    line-height: 23px;
  }
}


a,
a *,
button,
button * {
  transition: all 0.2s ease;
}

a:hover,
button:hover {
  opacity: 0.8;
}

.container {
  max-width: 1530px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.dark {
  color: #fff;
}

.light {
  color: #000;
}


.shape, .shape1, .shape2, .shape3, .shape4, .shape5, .shape5 {
  will-change: transform;
}

.shape img {
  display: block;
  max-width: 100%;
}

.page {
  padding-bottom: 217px;
}

article.page {
  padding-bottom: 258px;
}

.w-page  {
  padding-top: 182px;
  padding-bottom: 265px;
  background-position: top 0 right 20px;
  background-repeat: no-repeat;

  .back-btn {
    color: var(--accent);
    svg path {
      stroke: var(--accent);
    }

    &:hover {
      color: #000;
      svg path {
        stroke: #000;
      }
    }
  }

  &__title {
    margin-bottom: 21px;
    font-family: Montserrat;
    font-weight: 700;
  }

  &__subtitle {
    display: block;
    color: #444;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    max-width: 704px;
  }
}

.sticky-box  {
  position: sticky;
  top: 20px;
}

.noscroll {
  overflow: hidden;
}

main {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .page {
    padding-bottom: 100px;
  }
}


.page-404 {
  background-color: #232323; 
  

  background-image: url('../img/circs.webp');
  background-position: top 0 center;
  background-repeat: no-repeat;
}

.page-404__inner  {
  background-image: url('../img/404bg.webp');
  background-position: top 0 center;
  background-repeat: no-repeat;
  background-size: cover;


  height: 100%;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
  padding-top: 188px;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  margin: 0;
  text-align: center;
    
  }

  .btn {
    margin-top: 34px;
  }
}

.title-404 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 400px;
  font-style: normal;
  font-weight: 700;
  line-height: 400px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 52px;
}

.title-404-wrap  {
  position: relative;
}

.title-404-wrap img {
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  top: -70px;
}


@media (max-width: 768px) {
  .title-404 {
    font-size: 170px;
    font-style: normal;
    font-weight: 700;
    line-height: 400px; 
  }

  .page-404__inner {
    padding-top: 20px;
  }

  .title-404-wrap img {
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    top: 14%;
    max-width: 189px;
  }

  .page-404__inner p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -127px;
  }

  .page-404__inner .btn {
    margin-top: 26px;
    padding-left: 44px;
    padding-right: 44px;
  }

  .page-404 {
    background-image: url('../img/circs-mob.webp');
    background-size: 100% auto;
  }

  .page-404__inner  {
    background-image: url('../img/404bg-mob.webp');
  }
}